<div class="app-container-wrapper">
  <!--      <div class="container-header">-->
  <!--        <app-header [isToggled]="isToggled" (toggled)="sidenav.toggle(); isToggled = !isToggled"></app-header>-->
  <!--      </div>-->
  <!--    <mat-icon class="help-view-btn" (click)="openCurrentTabHelp()" color="primary">help</mat-icon>-->
  <div class="container-view">
    <div class="container-tabs">
      <app-tabs></app-tabs>
    </div>
    <div class="route-content">

      <ng-container *ngFor="let tab of tabManagerService.tabs">
        <div class="tab-spinner" *ngIf="tab.active && tab.isLoading">
          <mat-spinner></mat-spinner>
        </div>
        <div @fadeAnimation class="tab-content" [class.hideTabContent]="!tab.active"
             [ngClass]="{ 'current-tab' : tab.active }">
          <!--              <div-->
          <!--                style="z-index:9999;position: absolute;left:0;bottom: -10; right: 0;background: rgba(0,0,0,0.3);"-->
          <!--                class="d-flex align-items-center justify-content-center">-->
          <!--                <mat-spinner></mat-spinner>-->
          <!--              </div>-->
          <ng-container *ngComponentOutlet="tab.component"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
