<div class="flex h-screen w-full">
  <app-sidebar
    [isToggled]="isToggled"
    (sidebarItemClicked)="navigateToRoute($event)"
    [navigations]="navigations"
    [flatNavigations]="flatNavigations"
  >
  </app-sidebar>

  <div class="flex flex-col h-full w-full">
    <!-- header -->
    <app-header
      [isMinimized]="isToggled"
      (toggled)="isToggled = $event"
      class="w-full">
    </app-header>

    <!--  content  -->
    <app-content
      class="w-full h-[calc(100% - 56px)] overflow-auto">
    </app-content>
  </div>
</div>
