<div class="app-container">

  <!-- sidebar -->
  <app-sidebar
    [isToggled]="isToggled"
    (sidebarItemClicked)="navigateToRoute($event)"
    [navigations]="navigations"
    [flatNavigations]="flatNavigations"
  >
  </app-sidebar>

  <div class="d-flex flex-column w-100">
    <!-- header -->
    <app-header
      [isMinimized]="isToggled"
      (toggled)="isToggled = $event"
      class="w-100">
    </app-header>

    <!-- content -->
    <app-content
      class="w-100 h-100">
    </app-content>
  </div>
</div>
