<div class="h-100 d-flex flex-column" style="max-height: inherit; padding: 0!important;">


  <app-action-bar class="py-3" (onList)="navigateToMoadianInvoiceHeadersList()" (onAdd)="reset()" (onSave)="submit()"
                  (onRefresh)="initialize()"></app-action-bar>

  <mat-accordion class="mb-2">
    <mat-expansion-panel
      expanded="true"
      (opened)="headerInfoPanelState = true"
      (closed)="headerInfoPanelState = false"
    >
      <mat-expansion-panel-header style="height: unset; min-height: 48px">
        <mat-panel-title style="white-space: nowrap; display: grid;align-content: center">
          سرفصل صورتحساب
        </mat-panel-title>
        <mat-panel-description style="width: 100%" *ngIf="!headerInfoPanelState">
          <div class="d-flex flex-row gap-3 w-100">
            <button mat-stroked-button>
              <span>شماره ثبت مالیاتی: </span>
              <span style="color: black">{{ this.form.get('taxId')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>شماره: </span>
              <span style="color: black">{{ this.form.get('invoiceNumber')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>سریال: </span>
              <span style="color: black">{{ this.form.get('inno')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>نوع: </span>
              <span style="color: black">{{ this.form.get('inty')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>الگو: </span>
              <span style="color: black">{{ this.form.get('inp')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>موضوع: </span>
              <span style="color: black">{{ this.form.get('ins')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>مجموع مالیات: </span>
              <span style="color: black">{{ this.form.get('tvam')?.value | money }}</span>
            </button>
            <button mat-stroked-button>
              <span> مجموع صورتحساب:</span>
              <span style="color: black">{{ this.form.get('tbill')?.value | money }}</span>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="form">

        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره ثبت مالیاتی</mat-label>
                <input formControlName="taxId" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره</mat-label>
                <input formControlName="invoiceNumber" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>سریال</mat-label>
                <input formControlName="inno" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>نوع</mat-label>
                <mat-select formControlName="inty">
                  <mat-option *ngFor="let inty of intyTypes" [value]="inty.value">
                    {{ inty.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field>
                <mat-label>الگو</mat-label>
                <mat-select formControlName="inp">
                  <mat-option *ngFor="let inp of inpTypes" [value]="inp.value">
                    {{ inp.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field>
                <mat-label>موضوع</mat-label>
                <mat-select formControlName="ins">
                  <mat-option *ngFor="let ins of insTypes" [value]="ins.value">
                    {{ ins.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>تاریخ ثبت در سامانه</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="submissionDate">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label> وضعیت سند</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let status of statuses" [value]="status.value">
                    {{ status.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>مجموع قبل تخفیف</mat-label>
                <input currencyMask formControlName="tprdis" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>مجموع تخفیف</mat-label>
                <input currencyMask formControlName="tdis" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>مجموع بعد تخفیف</mat-label>
                <input currencyMask formControlName="tadis" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>مجموع مالیات</mat-label>
                <input currencyMask formControlName="tvam" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>مجموع صورتحساب</mat-label>
                <input currencyMask formControlName="tbill" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>مجموع وزن خالص</mat-label>
                <input currencyMask [options]="{suffix:''}" formControlName="tonw" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>مجموع ارزش ارزی</mat-label>
                <input formControlName="tocv" type="number" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>مجموع ارزش ریالی</mat-label>
                <input currencyMask formControlName="torv" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره کوتاژ</mat-label>
                <input formControlName="cdcn" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>تاریخ کوتاژ</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="cdcd">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>کد گمرک</mat-label>
                <input formControlName="scc" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره پروانه گمرکی</mat-label>
                <input formControlName="scln" type="text" matInput>
              </mat-form-field>
            </div>

          </div>
        </div>


      </form>

    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="mb-2">
    <mat-expansion-panel
      expanded="false"
      (opened)="buyerInfoPanelState = true"
      (closed)="buyerInfoPanelState = false"
    >
      <mat-expansion-panel-header style="height: unset; min-height: 48px">
        <mat-panel-title style="white-space: nowrap; display: grid;align-content: center">
          اطلاعات فروشنده
        </mat-panel-title>
        <mat-panel-description style="width: 100%" *ngIf="!buyerInfoPanelState">
          <div class="d-flex flex-row gap-3 w-100">
            <button mat-stroked-button>
              <span>شماره اقتصادی: </span>
              <span style="color: black">{{ this.form.get('tins')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>کد شعبه: </span>
              <span style="color: black">{{ this.form.get('sbc')?.value | toPersianDate }}</span>
            </button>
            <button mat-stroked-button>
              <span>شماره پروانه گمرکی: </span>
              <span style="color: black">{{ this.form.get('scln')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>شناسه یکتای ثبت قرارداد: </span>
              <span style="color: black">{{ this.form.get('crn')?.value }}</span>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="form">

        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره اقتصادی</mat-label>
                <input formControlName="tins" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>کد شعبه</mat-label>
                <input formControlName="sbc" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره پروانه گمرکی</mat-label>
                <input formControlName="scln" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>شناسه یکتای ثبت قرارداد</mat-label>
                <input formControlName="crn" type="text" matInput>
              </mat-form-field>
            </div>
          </div>
        </div>


      </form>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="mb-2">
    <mat-expansion-panel
      expanded="false"
      (opened)="sellerInfoPanelState = true"
      (closed)="sellerInfoPanelState = false"
    >
      <mat-expansion-panel-header style="height: unset; min-height: 48px">
        <mat-panel-title style="white-space: nowrap; display: grid;align-content: center">
          اطلاعات خریدار
        </mat-panel-title>
        <mat-panel-description style="width: 100%" *ngIf="!sellerInfoPanelState">
          <div class="d-flex flex-row gap-3 w-100">
            <button mat-stroked-button>
              <span>نام مشتری: </span>
              <span style="color: black">{{ this.form.get('personFullName')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>شماره/شناسه ملی/شناسه مشارکت مدنی/کد فراگیر: </span>
              <span style="color: black">{{ this.form.get('bid')?.value }}</span>
            </button>
            <button mat-stroked-button>
              <span>شماره اقتصادی: </span>
              <span style="color: black">{{ this.form.get('tinb')?.value | toPersianDate }}</span>
            </button>
            <button mat-stroked-button>
              <span> نوع شخص: </span>
              <span style="color: black">{{ this.form.get('tob')?.value }}</span>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="form">

        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <mat-form-field>
                <mat-label>نام مشتری</mat-label>
                <input formControlName="personFullName" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>کد مشتری</mat-label>
                <input formControlName="customerCode" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>کد تفصیل</mat-label>
                <input formControlName="accountReferenceCode" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره/شناسه ملی/شناسه مشارکت مدنی/کد فراگیر</mat-label>
                <input formControlName="bid" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره اقتصادی</mat-label>
                <input formControlName="tinb" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>نوع شخص</mat-label>
                <input formControlName="tob" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>کد پستی</mat-label>
                <input formControlName="bpc" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>کد شعبه</mat-label>
                <input formControlName="bbc" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <mat-label>شماره گذرنامه</mat-label>
                <input formControlName="bpn" type="text" matInput>
              </mat-form-field>
            </div>
          </div>
        </div>


      </form>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="mb-2">
    <mat-expansion-panel
      expanded="false"
      (opened)="errorInfoPanelState = true"
      (closed)="errorInfoPanelState = false"
    >
      <mat-expansion-panel-header style="height: unset; min-height: 48px">
        <mat-panel-title style="white-space: nowrap; display: grid;align-content: center">
          خطاها
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="form">

        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <mat-form-field>
                <mat-label>خطاها</mat-label>
                <textarea formControlName="errors" rows="20" matInput></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>


      </form>

    </mat-expansion-panel>
  </mat-accordion>


  <mat-card class="d-flex h-100" style="transition: height 0.225s; padding: 0!important;">

    <app-moadian-invoice-details-list
      style="width: 100%"
      [form]="form.controls['moadianInvoiceDetails']">

    </app-moadian-invoice-details-list>
  </mat-card>

</div>
