

<mat-card class="h-100 d-flex flex-column overflow-hidden" style="max-height: inherit; padding: 0!important;">

  <div class="d-inline p-3">
    <div class="d-flex">
  <app-form-actions [actions]="formActions" (OnRefresh)="get()" class="flex-fill" (OnEdit)="navigateToAddReceipt()" (OnDelete)="delete()">


    <button mat-raised-button color="primary" (click)="print()">
      <mat-icon>
        print
      </mat-icon>
      چاپ
    </button>

    <button mat-raised-button color="primary" (click)="addFinancialRequest()">
      <mat-icon>
        add
      </mat-icon>
      ثبت جدید
    </button>

    <button mat-raised-button color="primary" (click)="showRelatedDocument()">
      <mat-icon>
        format_align_justify
      </mat-icon>
         سند مرتبط
    </button>

    <!-- <button mat-raised-button color="primary" (click)="currencyPrint()"> 
      <mat-icon>
        format_align_justify
      </mat-icon>
       پرینت ارزی
    </button> -->


             <button mat-raised-button color="primary" [matMenuTriggerFor]="currencyPrintActions">
              <mat-icon>
                print
              </mat-icon>
                <mat-label>چاپ  </mat-label>
              </button>


              <button mat-raised-button color="primary" (click)="getBankBalance()">
                <mat-icon>
                  assured_workload
                </mat-icon>
                  <mat-label>پرینت بانک</mat-label>
                </button>



              <mat-menu #currencyPrintActions="matMenu">
                <button mat-menu-item (click)="print()">چاپ معمولی</button>
                <button mat-menu-item (click)="currencyPrint()">پرینت ارزی</button> 
                <button mat-menu-item (click)="currencyExchangePrint()">پرینت صرافی</button> 

              </mat-menu>  



  </app-form-actions>


<div>
  <button *ngIf="automateSate == 3  " mat-raised-button color="primary" matTooltip="ثبت سند حسابداری" (click)="addAccountingDocuments()" [disabled]="loaderService.isLoading['AddAutoVoucher2'] | async">
    <mat-icon *ngIf="loaderService.isLoading['AddAutoVoucher2'] | async">
      <mat-spinner color="accent" diameter="20">
      </mat-spinner>
    </mat-icon>
    ثبت سند حسابداری
  </button>

</div>



</div>
  <div class="d-flex my-3">
    <div class="flex-fill">
       <!-- <button mat-raised-button class="text-success" matTooltip="فیلتر آیتم های انتخابی" (click)="filterSelectedItem()">
        <mat-icon>filter_list</mat-icon>
        </button>

        <button mat-raised-button class="text-danger" style="margin-right: 8px;" matTooltip="عدم فیلتر آیتم های انتخابی" (click)="filterSelectedInverseItem()">
          <mat-icon style="rotate: 180deg;">filter_list</mat-icon>
          </button> -->


        <ng-container *ngIf="filterSum>0">
          <mat-label color="primary" class="mx-2">جمع کل : </mat-label>
          {{filterSum | money}}
        </ng-container>

      </div>
 
    <div>

        <mat-label> وضعیت :  </mat-label>
        <mat-button-toggle-group [(ngModel)]="automateSate" required (click)="get()">
          <mat-button-toggle matTooltip="ثبت دستی" [value]=0>
            <mat-label>ثبت دستی</mat-label>
            <mat-icon class="text-warning">remove_circle</mat-icon>
          </mat-button-toggle>

          <mat-button-toggle matTooltip="ثبت اتوماتیک" [value]=1>
            <mat-label>ثبت اتوماتیک</mat-label>
            <mat-icon class="text-warning">remove_circle</mat-icon>
          </mat-button-toggle>

          <mat-button-toggle matTooltip="ثبت شده ها" [value]=4>
            <mat-label>ثبت شده ها</mat-label>
            <mat-icon class="text-warning">remove_circle</mat-icon>
          </mat-button-toggle>

          <mat-button-toggle 
          matTooltip="بلاتکلیف" 
          [value]=3>
          <mat-label>بلاتکلیف</mat-label>
          <mat-label>({{pendingCount}})</mat-label>
          <mat-icon class="text-success">check_circle</mat-icon>
        </mat-button-toggle>
        
        
  
        </mat-button-toggle-group>



  </div>
</div>
</div>
<div class="h-100 overflow-auto" *ngIf="!isLoading">
  <app-table
  (clearSelectedItemsEvent)="handleClearSelectedItemsEvent()"
    (excludeSelectedItemsEvent)="handleExcludeSelectedItemsEvent($event)"
   (includeOnlySelectedItemsEvent)="handleincludeOnlySelectedItemsEvent($event)"
  (rowDoubleClicked)="update($event)"
  [tableRows]="financialRequests"
   [tableConfigurations]="tableConfigurations"
   (filtersChanged)="get()"
   (rowDoubleClicked)="navigateToAddReceipt($event)"
   (sortChanged)="get()"
   (paginationChanged)=" get()">
  </app-table>
</div>

</mat-card>

<ng-template #buttonShowDetails let-element="row" >
  <div class="d-flex gap-1" dir="ltr">
    <mat-icon class="" color="warn" (click)="removeDocument(element)" style="cursor: pointer">delete</mat-icon>
    <mat-icon class="text-warning" (click)="showFinancialDetails(element)" style="cursor: pointer"> format_list_numbered</mat-icon>
    <mat-icon color="primary" (click)="showReceiptAttached(element)" style="cursor: pointer">perm_media</mat-icon>
  </div>
  <!-- <mat-icon class="m-1 text-success" (click)="PrintImage(element)" style="cursor: pointer">print</mat-icon> -->
</ng-template>

<ng-template #bursaryDocumentsNumber let-element="row">
 <mat-label>{{element.documentNo}}</mat-label>
 <div>
 <span class="chips-success" *ngIf="element.voucherHeadCode">{{element?.voucherHeadCode}}</span>
</div>
</ng-template>

<!-- <ng-template #editDocument let-element="row">

  <app-counter-date-time  [startTime]="element.get('documentDate')?.value"></app-counter-date-time>
 </ng-template> -->


<div  *ngIf="isLoading" style="position: absolute;left:0;top:0;bottom: 0; right: 0;background: #ffffff94;" class="d-flex align-items-center justify-content-center">
  <mat-spinner></mat-spinner>
</div>




