<div class="dashboard">

  <div class="row gy-4 flex flex-row align-items-stretch">
    <div class="col-5">
      <div class="row gy-4">
        <div class="col-6">
          <mat-card class="flex flex-column">
            <div class="flex flex-row items-center">
          <span class="my-auto">
              درآمدها
          </span>
              <button mat-icon-button  class="me-auto">
                <mat-icon>more_vert</mat-icon>
              </button>

            </div>
            <div class="mx-auto my-4 flex flex-column">
              <mat-label class="m-auto text-blue-500  font-primary-extra-bold">
                {{revenuesAmount | money }} ریال
              </mat-label>
            </div>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card class="flex flex-column">
            <div class="flex flex-row items-center">
          <span class="my-auto">
             هزینه ها
          </span>
              <button mat-icon-button class="me-auto">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div class="mx-auto my-4 flex flex-column">
              <mat-label class="m-auto text-red-500  font-primary-extra-bold">
                {{costsAmount | money}}  ریال
              </mat-label>
            </div>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card class="flex flex-column">
            <div class="flex flex-row items-center">
          <span class="my-auto">
             بهای تمام شده
          </span>
              <button mat-icon-button class="me-auto">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div class="mx-auto my-4 flex flex-column">
              <mat-label class="m-auto text-green-500  font-primary-extra-bold">
                {{costOfAmount | money}} ریال
              </mat-label>
            </div>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card class="flex flex-column">
            <div class="flex flex-row items-center">
          <span class="my-auto mat-subheading-1">
             سود ناخالص
          </span>
              <button mat-icon-button class="me-auto" (click)="get()">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div class="mx-auto my-4 flex flex-column">
              <mat-label class="m-auto text-amber-500  font-primary-extra-bold">
                {{grossProfit | money}}  ریال
              </mat-label>
            </div>
          </mat-card>
        </div>

      </div>

    </div>

    <div class="col-7">
      <mat-card class="h-full" (click)="isBarChartSelected = !isBarChartSelected">
        <div echarts [options]="barChart"></div>
      </mat-card>
    </div>

    <div class="col-12">
      <mat-card>
        <div echarts [options]="lineChart"></div>
      </mat-card>
    </div>
    <div class="col-5">
      <mat-card>
        <div echarts [options]="polygonChart"></div>
      </mat-card>
    </div>
    <div class="col-7">
      <mat-card>
        <div class="row">
          <div class="col-6">
            <div echarts [options]="pieChart1"></div>
          </div>
          <div class="col-6">
            <div echarts [options]="pieChart"></div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
