@import "/src/assets/scss/variables";


.mat-icon {
  color: color(primary,500) !important;
}
.mat-icon-in {
  color: color(accent,500) !important;
}


.pagination {
  border-color: color(primary,300) !important;
  height: 34px;
  border-style: solid;
  border-width: 1px;
  margin: 0px !important;
  display: flex;
  flex-wrap: wrap;
}
.page-item {
  padding: 5px 8px 2px 8px;
  border-style: solid;
  border-width: 1px;

}
.page-item-select {
  padding: 5px 8px 2px 8px;
  border-style: solid;
  border-color: color(primary,300) !important;
  border-width: 1px;
  cursor: pointer;
  color: color(purple,700);
}
.page-item-select:hover {
  background-color: color(purple,500);
  color: color(accent,500) !important;
  cursor: pointer;
}
.active-page {
  background-color: color(md-green,500) !important;
}
.background {
  min-height: 34px;
  max-height: 60px;
  text-align: center;
  font-size: 13px;
  border: 1px solid #c0c0c0;
}
