
<div [formGroup]="form" class="h-full flex flex-column overflow-auto gap-3" style="max-height: inherit; padding: 0!important;">

    <app-form-actions [actions]="formActions" (OnShowList)="navigateToReceiptList()" (OnAdd)="reset()">
        <button mat-raised-button color="primary" matTooltip="ذخیره کامل اطلاعات" (click)="add()" [disabled]="_notificationService.isLoader" *ngIf="!isSubmitForm" id="save">
            <mat-icon>save</mat-icon>
            تایید و ذخیره سازی
        </button>
        <button mat-raised-button color="primary" type="button" (click)="GetProductAll()" [disabled]="_notificationService.isLoader">

            <span>دریافت همه کد های کالا</span>
        </button>
        <button mat-raised-button color="primary" type="button" (click)="GetProductLast()" [disabled]="_notificationService.isLoader">

            <span>دریافت آخرین کدهای کالا</span>
        </button>
        <span class="btn-color title">
            تعداد ردیف های API  :
        </span>
        <span class="btn-warn ">
            {{apiItemsCount}}
        </span>

    </app-form-actions>

    <div class="row">
        <div class="col-md-4">
            <mat-card>

                <div class="row">
                    <div class="col-md-7">

                        <mat-form-field>
                            <mat-label>تاریخ ورود</mat-label>
                            <input tabindex="0" matInput [matDatepicker]="picker" formControlName="documentDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>
                                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>


                    <div class="col-md-5">
                        <button mat-raised-button color="primary" (click)="get()" [disabled]="_notificationService.isLoader" tabindex="1">

                            <span> جستجو در سینا</span>
                        </button>
                    </div>

                </div>

            </mat-card>
        </div>
        <div class="col-md-8">
            <mat-card>

                <div class="row">


                    <div class="col-md-4">

                        <app-combo-account-head-tree [DefaultId]="1851"
                                                     (SelectId)="creditAccountHeadIdSelect($event)"
                                                     [isRequired]="false"
                                                     [lablelTitleCombo]="'سرفصل حساب بستانکار'"
                                                     [isLastLevel]="true" [tabindex]="2">
                        </app-combo-account-head-tree>

                    </div>

                    <!-- <div class="col-md-4 ">

        <app-combo-account-refrence [DefaultId]="form.controls.creditAccountReferenceId.value"
                                    (SelectId)="creditReferenceSelect($event)"
                                    [lablelTitleCombo]="'حساب بستانکار'"
                                    [isRequired]="false"
                                    [accountReferencesGroupsId]="form.controls.creditAccountReferenceGroupId.value" [tabindex]="3">
        </app-combo-account-refrence>

    </div> -->
                    <div class="col-md-4">

                        <app-combo-code-voucher-groups [DefaultId]="form.controls.codeVoucherGroupId.value"
                                                       (SelectId)="codeVoucherGroupSelect($event)"
                                                       [isRequired]="true"
                                                       [lablelTitleCombo]="'نوع رسید'"
                                                       [viewId]="Service.ViewIdProductTemporaryReceipt" [tabindex]="3">
                        </app-combo-code-voucher-groups>


                    </div>
                    <div class="col-md-3" *ngIf="Service.identityService.doesHavePermission('allowConfirmDocumentIssuance')">

                        <mat-form-field [tabindex]="14">
                            <mat-label>وضعیت حسابداری</mat-label>
                            <mat-select formControlName="isDocumentIssuance">

                                <mat-option [value]="false">
                                    ثبت حسابداری نشود
                                </mat-option>
                                <mat-option [value]="true">
                                    ثبت حسابداری شود
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>


    <div class="h-full overflow-auto p-0">

        <app-temporary-receipt-items-product [formSetter]="form?.controls['receiptDocumentItems']"
                                             [receipt]="_TemporaryReceipt"
                                             [codeVoucherGroupId]="form.controls.codeVoucherGroupId.value"
                                             [pageModeTypeUpdate]="pageModeTypeUpdate">

        </app-temporary-receipt-items-product>


    </div>
    <mat-spinner style="top:30%;right:40%;position:absolute;z-index:1000" *ngIf="_notificationService.isLoader"></mat-spinner>




</div>

