<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules  xdt:Transform="Insert">
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<remove xdt:Transform="Insert" name="WebDAV" />
			</handlers>
		</system.webServer>
	</location>
</configuration>