<mat-dialog
  submitBtnTitle="ترکیب"
  (onSubmit)="combineVouchers()"
  [showDeleteBtn]="false">
  <div dialog-header="">ترکیب اسناد</div>
  <div dialog-content="">

    <mat-form-field>
      <mat-label>سند مرجع</mat-label>
      <mat-select [formControl]="mainVoucherIdFormControl">
        <mat-option *ngFor="let voucher of entities" [value]="voucher.id">{{voucher.voucherNo}}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-table [tableConfigurations]="tableConfigurations"
               [tableRows]="entities"
    ></app-table>
  </div>
</mat-dialog>
