<div class="h-full flex flex-col overflow-auto gap-3" style="max-height: inherit; padding: 0!important;">
    <app-form-actions [actions]="listActions" (OnRefresh)="get()">
        <button mat-raised-button color="primary" matTooltip="ریالی کردن لیست انتخاب شده" (click)="navigateToReceiptAll()" [disabled]="_notificationService.isLoader">
            <mat-icon>currency_exchange</mat-icon>
            ریالی کردن لیست انتخاب شده
        </button>
        <button mat-raised-button color="primary" matTooltip="پاک کردن لیست انتخابی تامین کنندگان" (click)="clearListId()" [disabled]="_notificationService.isLoader">
            <mat-icon>delete</mat-icon>
            پاک کردن لیست انتخابی
        </button>
        <button mat-raised-button color="primary" (click)="print()" [disabled]="_notificationService.isLoader">
            <mat-icon>
                print
            </mat-icon>
            چاپ همه
        </button>
        <button mat-raised-button color="primary" matTooltip="چاپ رسیدهای انتخاب شده" (click)="print(true)" [disabled]="_notificationService.isLoader">
            <mat-icon>print</mat-icon>
            چاپ سطرهای انتخابی
        </button>
        <button mat-raised-button color="primary" type="button" (click)="onDeleteFilter(SearchForm,tableConfigurations)" [disabled]="_notificationService.isLoader">
            <mat-icon>
                delete_forever
            </mat-icon>
            حذف فیلترها
        </button>

    </app-form-actions>

  <mat-card>
    <form [formGroup]="SearchForm">
        <div class="row">
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>از تاریخ رسید</mat-label>
                    <input tabindex="1" matInput [matDatepicker]="pickerFrom" formControlName="fromDate" >
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom" >
                        <mat-icon matDatepickerToggleIcon>
                            <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>تا تاریخ رسید</mat-label>
                    <input tabindex="2" matInput [matDatepicker]="picker" formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>
                            <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>


            <div class="col-md-2">

                <app-combo-account-refrence (SelectId)="debitReferenceSelect($event)"
                                            [DefaultId]="SearchForm.controls.debitAccountReferenceId.value"
                                            [lablelTitleCombo]="'حساب بدهکار'"
                                            [isRequired]="false"
                                            [tabindex]="3">
                </app-combo-account-refrence>

            </div>
            <div class="col-md-2">

                <app-combo-account-refrence (SelectId)="creditReferenceSelect($event)"
                                            [DefaultId]="SearchForm.controls.creditAccountReferenceId.value"
                                            [lablelTitleCombo]="'حساب بستانکار'"
                                            [isRequired]="false"
                                            [tabindex]="4">
                </app-combo-account-refrence>
            </div>


            <div class="col-md-2">

                <mat-form-field tabindex ="5">
                    <mat-label *ngIf="isImportPurchase=='false'">شماره صورتحساب</mat-label>
                    <mat-label *ngIf="isImportPurchase=='true'">شماره پرونده</mat-label>
                    <input formControlName="invoceNo" matInput type="text" >
                    </mat-form-field>
</div>

            <div class="col-md-1">

                <mat-form-field tabindex="6">
                    <mat-label>شماره رسید</mat-label>
                    <input formControlName="documentNo" matInput type="text">
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <button mat-raised-button color="primary" type="button" (click)="get()" [disabled]="_notificationService.isLoader" tabindex="7" id="Search">
                    <mat-icon>
                        search
                    </mat-icon>
                    جستجو
                </button>

            </div>
        </div>
    </form>

  </mat-card>



  <mat-card class="h-full overflow-auto p-0">
      <app-table [tableConfigurations]="tableConfigurations"
                 [tableRows]="Receipts"
                 (rowDoubleClicked)="navigateToReceiptRials($event)"
                 (filtersChanged)="get()"
                 (paginationChanged)="get()"
                 (sortChanged)="get()"></app-table>





      <ng-template #checkboxSelected let-element="row">
          <mat-icon *ngIf="element.selected" mat-icon-button class="btn-color" (click)="RemoveId(element)">
              check_box
          </mat-icon>
          <mat-icon *ngIf="!element.selected" mat-icon-button class="btn-color" (click)="checkValue(element)">
              check_box_outline_blank
          </mat-icon>
      </ng-template>

      <ng-template #buttonTagArray let-element="row">
          <button mat-icon-button [matMenuTriggerFor]="beforeMenu" matTooltip="برچسب ها" *ngIf="element.tagClass">
              <mat-icon class="btn-warn">sticky_note_2</mat-icon>
          </button>
          <mat-menu #beforeMenu="matMenu">
              <ol>
                  <li *ngFor="let item of element.tagClass" style="padding-right:10px;">
                      ✔  {{item.key}}
                  </li>
              </ol>
          </mat-menu>
      </ng-template>

      <ng-template #txtcommodityTitle let-element="row">

          <p class="font-12">
              {{element.commodityTitle}}
          </p>
      </ng-template>
      <ng-template #txtcommodityCode let-element="row">

          <p class="font-12">
              {{element.commodityCode}}

          </p>
      </ng-template>
      <ng-template #txtCodeVoucherGroupTitle let-element="row">

          <p class="font-10">
              {{element.codeVoucherGroupTitle}}

          </p>
      </ng-template>
      <ng-template #txtcreditReferenceTitle let-element="row">

          <p class="font-12">
              {{element.creditReferenceTitle}}

          </p>
      </ng-template>
      <ng-template #txtdebitReferenceTitle let-element="row">

          <p class="font-12">
              {{element.debitReferenceTitle}}

          </p>
      </ng-template>


      <ng-template #buttonMore let-element="row" style="text-align:center">

          <button mat-icon-button [matMenuTriggerFor]="amenu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #amenu="matMenu">
              <button mat-menu-item
                      [matTooltipPosition]="'right'"
                      matTooltip="مشاهده و تبدیل به رسید ریالی"
                      class="btn-color"
                      (click)="navigateToReceiptRials(element)">
                  <mat-icon>currency_exchange</mat-icon>
                  ریالی کردن
              </button>
              <button mat-menu-item
                      [matTooltipPosition]="'right'"
                      matTooltip="مشاهده و ویرایش رسید"
                      class="btn-color"
                      (click)="navigateToReceipt(element)">
                  <mat-icon>edit</mat-icon>
                 ویرایش رسید
              </button>

              <button mat-icon-button
                      [matTooltipPosition]="'right'"
                      matTooltip="بایگانی و حذف رسید ریالی"
                      class="btn-color"
                      (click)="archive(element)">
                  <mat-icon>redo</mat-icon>
                  حذف/بایگانی
              </button>

          </mat-menu>

      </ng-template>
      <ng-template #buttonStack let-element="row">

          <a  matTooltip="استاک انبار" class="btn-link" (click)="navigateToHistory(element)">
              {{element.quantity}}

          </a>

      </ng-template>

      <mat-spinner style="top:30%;right:40%;position:absolute;z-index:1000" *ngIf="_notificationService.isLoader"></mat-spinner>
  </mat-card>
</div>
