<div class="flex justify-center">
    <div class="p-2">


      <mat-form-field>
        <mat-label>تاریخ سند</mat-label>
        <input tabindex="6" matInput [matDatepicker]="picker" [(ngModel)]="documentDate">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>
                <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
            </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    </div>

  </div>
  <div class="flex justify-center">
    <div class="p-2">
      <button mat-raised-button color="primary" style="background: #68b0a9;" (click)="setReference()">
        <mat-icon>
          account_balance
        </mat-icon>
        ارسال به بانک
      </button>
    </div>
  </div>
