.header-requester {
    background-color: #e1ffd2;
    border-radius: 13px;
}

.header-reciver {
    background-color: #d2fff5;
    border-radius: 13px;
}
.closedMessage{
    float: left;
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 3px 20px;
    border-radius: 7px;
}