<mat-dialog (onSubmit)="calculateSumDebit()"
  [showDeleteBtn]="false" [submitBtnTitle]="submitBtnTitle">
<div dialog-header="" >لیست مبالغ بدهکاری</div>
<div dialog-content="">
  <div   class="col-md-12" style="width: 60vw;" >
    <mat-card class="h-100 d-flex flex-column overflow-auto" style="max-height: inherit; padding: 0!important;">
      <app-table  [tableConfigurations]="tableConfigurations"
                  [tableRows]="entities"
                  (filtersChanged)="get()"
                  (sortChanged)="get()"
                  (paginationChanged)="get()"
      (rowSelected)="getDebit($event)"
      (allRowsSelected)="getAllDebit(entities)">
      </app-table>
    </mat-card>
  </div>
</div>
</mat-dialog>
