@import "/src/assets/scss/variables";
.mat-card{
  padding: 15px !important;
}
.disabled {
  pointer-events: none;

}
mat-label {
  font-size: 14px;
  color: color(primary,500);
}

.line {
  line-height: 2.5
}
.background-color {
  background-color: #8ab99c !important;
}


