`<mat-card class="mt-3">
  <app-form-actions [actions]="formActions" (OnSave)="submit()" (OnAdd)="reset()">

  </app-form-actions>
  <form [formGroup]="form">

    <div class="row">
      <div class="col-md-3">
        <mat-form-field >
          <mat-label>عنوان</mat-label>
          <input matInput formControlName="title" type="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field >
          <mat-label>کد بانک</mat-label>
          <input matInput formControlName="code" type="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field >
          <mat-label>کد جهانی بانک</mat-label>
          <input matInput formControlName="globalCode" type="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field >
          <mat-label>کد سویفت</mat-label>
          <input matInput formControlName="swiftCode" type="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field >
          <mat-label>نام مدیر</mat-label>
          <input matInput formControlName="managerFullName" type="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field >
          <mat-label>توضیحات</mat-label>
          <input matInput formControlName="descriptions" type="text">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field >
          <mat-label>نوع بانک</mat-label>
          <mat-select formControlName="typeBaseId">
            <mat-option *ngFor="let bankType of bankTypes" [value]="bankType.id">{{bankType.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
