<div
  class="app-sidebar-item-container"
  style="width: 100%"
  [class.app-sidebar-item-minimized]="isToggled"
  [dir]="this.rtl ? 'rtl' : 'ltr' ">

  <!-- menu items -->
  <div
    class="app-sidebar-item gap-2"
    (click)="toggleSidebarItem(sidebarItem)"
    [class.active]="sidebarItem.showChildren"
  >
    <!-- icon -->
    <mat-icon
      [ngClass]="{'fs-4':sidebarItem.parentId , 'fs-3':isToggled}"
      class="fs-2"
      *ngIf="sidebarItem.imageUrl"
    >
      {{ sidebarItem.imageUrl }}
    </mat-icon>

    <!-- title -->
    <h2 [ngClass]="{'d-block':sidebarItem.parentId}">{{ sidebarItem.title }}</h2>

    <!-- arrow icon -->
    <mat-icon
      id="arrow_icon"
      [ngClass]="{'d-block' :  sidebarItem.parentId}"
      *ngIf="sidebarItem.children && sidebarItem.children.length > 0">navigate_before
    </mat-icon>
  </div>

  <!-- sub_menu -->
  <div
    class="app-sidebar-item-children"
    [class.app-sidebar-item-children-show]="sidebarItem.showChildren"
    [class.app-sidebar-item-children-hide]="!sidebarItem.showChildren"
  >
    <div style="height: 80px !important; "
         class="d-flex align-items-center justify-content-start px-3 fw-bold fs-6 border-bottom border-secondary text-white">{{ sidebarItem.title }}
    </div>
    <app-sidebar-item
      *ngFor="let subSidebarItem of sidebarItem.children"
      [sidebarItem]="subSidebarItem"
      [isToggled]="isToggled"
      [subLevelCounter]="subLevelCounter + 1"
      [isSubSidebar]="true"
      (sidebarItemClick)="sidebarItemClick.emit($event)"
      (collapseSiblings)="collapseAllChildsExceptActiveItem($event)"
    ></app-sidebar-item>
  </div>
</div>
