.app-sidebar-item-container {
  position: inherit;
}

.app-sidebar-item-minimized{
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    img {
      transform: scale(1.3);
    }
  }
  img {
    width: 25px;
    height: 25px;
    margin: auto;
    transition: 0.3s;

  }
  h2{
    display: none;
  }
  #arrow_icon{
    display: none;
  }
}

.app-sidebar-item {
  padding: 10px;
  margin: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 8px;
}

.app-sidebar-item:hover {
  background-color: #2C3344;
}

.app-sidebar-item.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

h2 {
  font-size: 14px;
  margin: 0;
  flex-grow: 1;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  fill: #999;
}

/* استایل منوی فرزند */
.app-sidebar-item-children {
  padding-top: 80px;
  position: absolute;
  top: 0;
  z-index: 100;
  text-wrap: nowrap;
  min-width: 250px;
  background-color: #0F172A;
  display: none;
  height: 100vh;
  box-shadow: -2px 0 10px rgb(0 0 0 / 10%);
}

.app-sidebar-item-children-show {
  display: block;
  background-color: #555;
}

.app-sidebar-item-children-hide {
  display: none;
}


[dir="rtl"] .app-sidebar-item-children {
  left: auto;
  right: 100%;
}
