<div
  class="app-sidebar-item-container"
  [class.app-sidebar-item-minimized]="isToggled"
  [dir]="this.rtl ? 'rtl' : 'ltr' ">

  <!-- menu items -->
  <div
    class="app-sidebar-item gap-2"
    (click)="toggleSidebarItem(sidebarItem)"
    [class.active]="sidebarItem.showChildren"
  >
    <img *ngIf="!sidebarItem.parentId" src="{{sidebarItem.imageUrl}}" class="nav-icon"/>
    <h2>{{ sidebarItem.title }}</h2>
    <mat-icon id="arrow_icon" *ngIf="sidebarItem.children && sidebarItem.children.length > 0">navigate_before</mat-icon>
  </div>

  <!-- sub_menu -->
  <div
    class="app-sidebar-item-children"
    [class.app-sidebar-item-children-show]="sidebarItem.showChildren"
    [class.app-sidebar-item-children-hide]="!sidebarItem.showChildren || isToggled"
  >
    <app-sidebar-item
      *ngFor="let subSidebarItem of sidebarItem.children"
      [sidebarItem]="subSidebarItem"
      [isToggled]="isToggled"
      [subLevelCounter]="subLevelCounter + 1"
      [isSubSidebar]="true"
      (sidebarItemClick)="sidebarItemClick.emit($event)"
      (collapseSiblings)="collapseAllChildsExceptActiveItem($event)"
    ></app-sidebar-item>
  </div>
</div>
