<div class="flex flex-col h-full gap-3">

  <mat-card class="p-3">
    <div class="flex flex-row mb-2">
      <div class="text-xl font-semibold">سند تعدیل ماهیت</div>
    </div>
    <div class="flex justify-end mb-2">
      <button mat-raised-button (click)="voucherHeadsAdjustment()" color="primary">
        صدور سند تعدیل ماهیت
      </button>
    </div>
    <div class="flex items-center text-sm text-gray-600 gap-2">
      <mat-checkbox color="primary"></mat-checkbox>
      چنانچه سند تعدیل ماهیت وجود دارد جایگزین شود
    </div>
  </mat-card>

  <mat-card class="p-3">
    <div class="flex flex-row mb-2">
      <div class="text-xl font-semibold">سند بستن حسابها</div>
    </div>

    <div class="flex items-center text-sm text-gray-600 gap-2 mb-2">
      <mat-checkbox color="primary" [(ngModel)]="isTempDoc"></mat-checkbox>
      چنانچه سند بستن حسابها وجود دارد جایگزین شود
    </div>

    <div class="flex justify-end">
      <button mat-raised-button (click)="closeVoucherHeads(isTempDoc)" color="primary">
        صدور سند بستن حسابها
      </button>
    </div>
  </mat-card>

  <mat-card class="p-3">
    <div class="flex flex-row mb-2">
      <div class="text-xl font-semibold">سند اختتامیه</div>
    </div>

    <div class="flex items-center text-sm text-gray-600 gap-2 mb-2">
      <mat-checkbox color="primary" [(ngModel)]="isEndDoc"></mat-checkbox>
      چنانچه سند اختتامیه وجود دارد جایگزین شود
    </div>

    <div class="flex justify-end">
      <button mat-raised-button (click)="endVoucherHead(isEndDoc)" color="primary">
        صدور سند اختتامیه
      </button>
    </div>
  </mat-card>

</div>
