<div class="relative flex flex-col h-full">
  <div class="flex m-0 justify-between items-center rounded sticky top-0 z-[96] bg-white px-[5px] shadow">
    <div class="flex items-center justify-center m-0">
      <app-breadcrumb
        [nodes]="_nestedNodes"
        [disabled]="displayLayout !== 'tree'"
        (nodeSelected)="onNodeClick($event)"
        (pathEvent)="handlePathEvent($event)">
      </app-breadcrumb>
    </div>
    <div class="flex items-center justify-end pl-[10px]">
      <div class="flex gap-2 items-center">
        <div class="flex items-center">
          <mat-button-toggle-group>
            <mat-button-toggle [checked]="displayLayout === 'tree'"
                               (click)="displayLayout = 'tree'"
                               matTooltip="نمایش درختی">
              <mat-icon color="primary">account_tree</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [checked]="displayLayout === 'grid'"
                               (click)="displayLayout = 'grid'"
                               matTooltip="نمایش جدولی">
              <mat-icon color="primary">table_rows</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="w-full relative">
          <mat-form-field class="w-full">
            <mat-label>{{ searchTitle }}</mat-label>
            <img class="absolute w-[25px] left-[2.5%] top-0 bottom-[15%] m-auto"
                 src="/assets/icons/search.svg" alt="">
            <input (keyup)="handleSearchNodes()" [formControl]="searchFormControl"
                   class="w-[90%] ml-auto"
                   matInput type="text">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <!-- درخت -->
  <div class="flex flex-col overflow-auto h-full" *ngIf="displayLayout === 'tree'">
    <div class="flex flex-col w-fit min-w-[200px] max-h-full mt-[10px] transition-all duration-300">
      <app-tree-item
        *ngFor="let node of nodes"
        [node]="node"
        [idKey]="idKey"
        [parentKey]="parentKey"
        [childrenKey]="childrenKey"
        [levelCodeKey]="levelCodeKey"
        [titleKey]="titleKey"
        [codeKey]="codeKey"
        [currentLevel]="2"
        [restrictedLevel]="restrictedLevel"
        [selectable]="selectable"
        [editable]="editable"
        [canAdd]="canAdd && !isSearching"
        (onClick)="onNodeClick($event)"
        (onEdit)="onNodeEdit($event)"
        (onAdd)="onNodeAdd($event)"
        (onSelect)="onNodeSelect($event)"
        [isSearching]="isSearching"
      ></app-tree-item>

      <div *ngIf="canAdd && !isSearching && !isRestrictedLevel()"
           (click)="onNodeAdd(undefined)"
           class="cursor-pointer w-[200px] mt-2 mb-2 border-2 border-dashed border-black/50 mx-auto grayscale hover:grayscale-0 hover:border-primary rounded transition-all">
        <div class="flex gap-2 p-[5px_1rem] w-full h-full text-right">
          <img src="/assets/icons/add-tree.svg"
               class="w-[20px] h-[20px] object-cover m-auto" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- گرید -->
  <div *ngIf="displayLayout === 'grid' && _gridNodes.length > 0"
       class="h-[75%] overflow-auto pt-[10px]">
    <app-table-virtual-scrolling
      class="h-full overflow-auto"
      [tableRows]="_gridNodes"
      [tableConfigurations]="tableConfigurations">
    </app-table-virtual-scrolling>
  </div>
</div>
