<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="InternalLog/shortdate.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		
		<!--
		F.S 
		// archiveFileName : مسیر و نام فایل های ارشیوی رو نشون میده 
		// archiveAboveSize : حداکثر حجم یه فایل لاگ رو نشون میده
		// maxArchiveFiles : تعداد فایل های ارشیوی که نگه میداره رو نشون میده
		// فایل های ارشیوی رو هم اینجا نگه میداره -> Log/Info/archives/
		// archiveNumbering="Rolling باعث میشه فایل ها به صورت چرخشی ارشیو بشن تعدادشون از یه حدی بالاتر نره
		// https://github.com/NLog/NLog/wiki/File-target#archive اینجا اطلاعات بیشتری هم هست  -->
		
		<target xsi:type="File" name="info" fileName="Log/Info/info-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
		        archiveFileName="Log/Info/archives/info-{#}.log"
		        archiveNumbering="Rolling"
		        archiveAboveSize="52428800"
		        maxArchiveFiles="10" />

		<target xsi:type="File" name="detail" fileName="Log/Detail/detail-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
		        archiveFileName="Log/Detail/archives/detail-{#}.log"
		        archiveNumbering="Rolling"
		        archiveAboveSize="52428800"
		        maxArchiveFiles="10" />

		<target xsi:type="File" name="error" fileName="Log/Error/error-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
		        archiveFileName="Log/Error/archives/error-{#}.log"
		        archiveNumbering="Rolling"
		        archiveAboveSize="52428800"
		        maxArchiveFiles="10" />

		<target name="console" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="detail" />
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Error" writeTo="error" />
	</rules>
</nlog>



<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="InternalLog/shortdate.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	--><!-- the targets to write to --><!--
	<targets>
		<target xsi:type="File" name="info" fileName="Log/Info/info-shortdate.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="detail" fileName="Log/Detail/detail-shortdate.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="error" fileName="Log/Error/error-shortdate.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target name="console" xsi:type="Console" />
	</targets>
	--><!-- rules to map from logger name to target --><!--
	<rules>
		<logger name="*" minlevel="Debug" writeTo="detail" />

		<logger name="*" minlevel="Info" writeTo="console" />
		--><!--Skip non-critical Microsoft logs and so log only own logs--><!--
		--><!--<logger name="Microsoft.*" maxLevel="Info" final="true" />--><!--
		<logger name="*" minlevel="Error" writeTo="error" />
	</rules>
</nlog>-->

