<div mat-dialog-title>گزارش بانک مرکزی</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>از تاریخ</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>
            <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>تا تاریخ</mat-label>
        <input matInput [matDatepicker]="picker2" [formControl]="toDate">
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>
            <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>


<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="getCentralBankReport()">دریافت گزارش</button>
</div>
