<div>
  <!-- Backdrop -->
  <div
    *ngIf="isToggledSubmenu"
    class="sidebar-backdrop"
    (click)="closeAllMenus(navigations)"
  >
  </div>

  <div class="app-sidebar" [class.app-sidebar-minimized]="isToggled">

    <!-- eefa logo  -->
    <div style="min-height: 80px!important;"
         class="d-flex align-items-center justify-content-center fw-bold fs-4 border-bottom border-secondary text-white">
      EEFA
    </div>

    <!--  side items  -->
    <nav>
      <app-sidebar-item [isToggled]="isToggled"
                        [isToggledSubmenu]="isToggledSubmenu"
                        (sidebarItemClick)="itemClicked($event)" [sidebarItem]="baseNavigation"
                        (collapseSiblings)="collapseOtherSiblings($event)"
                        *ngFor="let baseNavigation of navigations"
                        [currentRoute]="currentRoute"
                        (unMinimize)="isToggledSubmenu = $event"
      ></app-sidebar-item>
      <!--    <mat-icon class="me-auto toggle-menu-icon item-icon" (click)="toggled.emit(isMinimized)">menu</mat-icon>-->
    </nav>
  </div>
</div>
