<mat-card class="h-full flex flex-col" >
  <div class="row mb-1">
    <div class="col-md-2">
      <mat-form-field >
        <mat-label>شماره فرم</mat-label>
        <input [(ngModel)]="formNo" matInput type="number" disabled>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field>
        <mat-label>تارخ فرم</mat-label>
        <input tabindex="0" matInput [matDatepicker]="pickerFrom" [(ngModel)]="formDate" disabled>
        <mat-datepicker-toggle matSuffix [for]="pickerFrom">
          <mat-icon matDatepickerToggleIcon>
            <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field >
        <mat-label>نام انبار</mat-label>
        <input [(ngModel)]="warehouseLayoutTitle" matInput type="text" disabled>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field >
        <mat-label>وضعیت فرم</mat-label>
        <input [(ngModel)]="warehouseCountFormStatus" matInput type="text" disabled>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field >
        <mat-label>کاربر شمارنده</mat-label>
        <input [(ngModel)]="countUser" matInput type="text" disabled>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field >
        <mat-label>کاربر تایید کننده</mat-label>
        <input [(ngModel)]="confirmerUser" matInput type="text" disabled>
      </mat-form-field>
    </div>

  </div>
  <app-action-bar class="p-3" (onAdd)="addNewCountForm()"  ></app-action-bar>
<div class="h-full overflow-auto">
  <app-table-virtual-scrolling
    [tableRows]="warehouseCountFormConflict"
    [requestsIndex]="requestsIndex"
    [tableConfigurations]="tableConfigurations"
    [outPrint]="outPrint"
    (sortChanged)="get()"
    (refreshEvent) ="get()"
    (filtersChanged)="get()"
    (paginationChanged)="get()"
    (optionSelectedEvent)="handleOptionSelected($event)"
    (removeAllFiltersAndSortsEvent)="handleRemoveAllFiltersAndSorts($event)"
    (rowsSelected)="handelRowsSelected($event)"
  ></app-table-virtual-scrolling>
</div>
</mat-card>>

