<mat-dialog
  (onSubmit)="submit()"
  (onDelete)="delete()"
  [showDeleteBtn]="pageMode === pageModes.Update"
>
  <div dialog-header="">سال مالی</div>
  <div dialog-content="">


<div class="col-md-12">
  <mat-card class="h-100   overflow-auto d-flex flex-column" style=" width:80vw; max-height: inherit; padding: 0!important;">
<!--<mat-card style="width: 80vw; height: 40vh; overflow: auto">-->

  <app-table
    [tableConfigurations]="tableConfigurations"
    [tableRows]="years">

  </app-table>
</mat-card>
</div>
  </div>
</mat-dialog>
