


.mainTable {
  width: 100%;
  border: double #808080;
  background-color:#fff;

}

.mainTable p {
  font-size: 14px;
  text-align: right !important;
}

.header-tr {
  border: double #808080;
  padding: 10px;
}

.col {
  border: solid 1px #808080;
  padding: 10px;
}

.containsTable td {
  border: solid 1px #808080;
  padding: 10px;
}

.containsTable th {
  border: solid 1px #808080;
  padding: 10px;
  
}
