
<div [formGroup]="form" class="h-full flex flex-col overflow-auto gap-3" style="max-height: inherit; padding: 0!important;">

    <app-form-actions [actions]="formActions" (OnShowList)="navigateToReceiptList()" (OnAdd)="reset()">
        <button mat-raised-button color="primary" matTooltip="ذخیره کامل اطلاعات" (click)="add()" [disabled]="_notificationService.isLoader" *ngIf="!isSubmitForm && !pageModeTypeUpdate" id="Save">
            <mat-icon>save</mat-icon>
            تایید و ذخیره سازی
        </button>

        <button mat-raised-button color="primary" matTooltip="ذخیره کامل اطلاعات" (click)="update()" [disabled]="_notificationService.isLoader" *ngIf="pageModeTypeUpdate" id="Save">
            <mat-icon>save</mat-icon>
            تایید و ذخیره سازی
        </button>

        <label class="mat-label-header">نوع رسید</label>
        :
        <label class="btn-color">{{_TemporaryReceipt?.codeVoucherGroupTitle}}</label>
    </app-form-actions>

  <mat-card *ngIf="!pageModeTypeUpdate && form">

        <div class="row">
          <div class="col-md-4">
              <mat-form-field tabindex="0">
                  <mat-label>شماره درخواست خرید</mat-label>
                  <input formControlName="requestNumber" matInput type="text" (keyup)="Service.clearNumber(form.controls.requestNumber)" required>
              </mat-form-field>
          </div>

          <div class="col-md-4">
              <button mat-raised-button color="primary" type="submit" (click)="getRequest('erp')" [disabled]="_notificationService.isLoader" tabindex="1" id="Search">

                  <span> جستجو در erp </span>
              </button>
              <button mat-raised-button color="primary" type="button" (click)="getRequest()" [disabled]="_notificationService.isLoader" tabindex="2">


                  <span>  جستجوی درخواست</span>
              </button>

          </div>
        </div>

  </mat-card>

  <mat-card class="p-0">


      <div class="row">

          <div class="col-md-3" *ngIf="(form.controls.documentStauseBaseValue.value==Service.CodeTemporaryReceipt || !form.controls.documentStauseBaseValue.value) && EditType !=3">

              <app-combo-code-voucher-groups [DefaultId]="form.controls.codeVoucherGroupId.value"
                                             (SelectId)="codeVoucherGroupSelect($event)"
                                             [isRequired]="true"
                                             [lablelTitleCombo]="'نوع رسید'"
                                             [tabindex]="1"
                                             [viewId]="Service.CodeTemporaryReceipt">
              </app-combo-code-voucher-groups>


          </div>
          <div class="col-md-3" *ngIf="EditType ==3">

              <app-combo-code-voucher-groups [DefaultId]="form.controls.codeVoucherGroupId.value"
                                             (SelectId)="codeVoucherGroupSelect($event)"
                                             [isRequired]="true"
                                             [lablelTitleCombo]="'نوع رسید'"
                                             [tabindex]="1"
                                             [viewId]="form.controls.documentStauseBaseValue.value">
              </app-combo-code-voucher-groups>


          </div>
          <div class="col-md-3">
              <app-combo-warhouse-tree [DefaultId]="form.controls.warehouseId.value"
                                       (SelectId)="WarehouseIdSelect($event)"
                                       [isRequired]="true"
                                       [isLastLevel]="true"
                                       [lablelTitleCombo]="'انبار تحویل گیرنده'"
                                       [isFilterByCodeVoucher]="true"
                                       [isDisable]="!form.controls.codeVoucherGroupId.value || (EditType !=3 && EditType !=6) "
                                       [tabindex]="2"
                                       [codeVoucherGroupId]="form.controls.codeVoucherGroupId.value">
              </app-combo-warhouse-tree>
          </div>
          <div class="col-md-3">
              <mat-form-field>
                  <mat-label>تاریخ رسید</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="documentDate" required tabindex="3">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>
                          <img class="mb-3" src="/assets/icons/calendar.svg" alt="" tabindex="3">
                      </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>

          <div class="col-md-3">
              <app-combo-invoice [DefaultId]="form.controls.invoiceNo.value"
                                 (SelectId)="invoiceNoSelect($event)"
                                 [lablelTitleCombo]="'شماره پرونده/شماره صورتحساب'"
                                 [isRequired]="false"
                                 [invoiceId]="form.controls.id.value"
                                 [refrenceId]="form.controls.creditAccountReferenceId.value"
                                 [tabindex]="4"
                                 [commodityId]="commodityId"
                                 [isDisable]="EditType !=0">
              </app-combo-invoice>

          </div>
          <div class="col-md-3">

              <app-combo-account-refrence [DefaultId]="form.controls.creditAccountReferenceId.value"
                                          (SelectId)="ReferenceSelect($event)"
                                          [lablelTitleCombo]="'انتخاب تامین کننده'"
                                          [isRequired]="false"
                                          [tabindex]="5"
                                          [accountReferencesGroupsId]="form.controls.creditAccountReferenceGroupId.value"
                                          [isDisable]="EditType !=0">
              </app-combo-account-refrence>



          </div>


          <div class="col-md-3">
              <mat-form-field>
                  <mat-label>تاریخ درخواست</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="requestDate" tabindex="6">
                  <mat-datepicker-toggle matSuffix [for]="picker1">
                      <mat-icon matDatepickerToggleIcon>
                          <img class="mb-3" src="/assets/icons/calendar.svg" alt="" tabindex="7">
                      </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field>
                  <mat-label>درخواست دهنده</mat-label>
                  <input matInput type="text" formControlName="requesterReferenceTitle" disabled>
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field>
                  <mat-label>پیگیری کننده</mat-label>
                  <input matInput type="text" formControlName="followUpReferenceTitle" disabled>
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field tabindex="8">
                  <mat-label>شماره قبض </mat-label>
                  <input matInput type="text" formControlName="scaleBill">
              </mat-form-field>
          </div>
          <div class="col-md-3">


              <app-combo-tag [documentTags]="documentTags" (SelectTags)="TagSelect($event)" tabindex="9">

              </app-combo-tag>
          </div>
          <div class="col-md-6">
              <mat-form-field tabindex="10">
                  <mat-label>شرح</mat-label>
                  <input matInput type="text" formControlName="documentDescription">
              </mat-form-field>
          </div>


          <div class="col-md-3">
              <mat-form-field tabindex="11">
                  <mat-label>شماره رسید </mat-label>
                  <input matInput type="text" formControlName="documentNo" disabled>
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field tabindex="12">
                  <mat-label>شماره درخواست </mat-label>
                  <input matInput type="text" formControlName="requestNo">
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field tabindex="13">
                  <mat-label>شماره پارت</mat-label>
                  <input matInput type="number" formControlName="partNumber">
              </mat-form-field>
          </div>
          <div class="col-md-3" *ngIf="Service.identityService.doesHavePermission('allowConfirmDocumentIssuance')">

              <mat-form-field [tabindex]="14">
                  <mat-label>وضعیت حسابداری</mat-label>
                  <mat-select formControlName="isDocumentIssuance">

                      <mat-option [value]="false">
                          ثبت حسابداری نشود
                      </mat-option>
                      <mat-option [value]="true">
                          ثبت حسابداری شود
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>


  </mat-card>

      <div class="h-full overflow-auto p-0">

          <app-temporary-receipt-items-single-row [formSetter]="form?.controls['receiptDocumentItems']"
                                                  [receipt]="_TemporaryReceipt"
                                                  [EditType]="EditType"
                                                  [codeVoucherGroup]="codeVocher"
                                                  [pageModeTypeUpdate]="pageModeTypeUpdate">

          </app-temporary-receipt-items-single-row>
        <mat-spinner style="top:30%;right:40%;position:absolute;z-index:1000" *ngIf="_notificationService.isLoader"></mat-spinner>

      </div>





</div>

