<div class="flex flex-col h-full gap-3" style="max-height: inherit">
  <mat-card>
    <div [formGroup]="filtersForm" class="row items-start" *ngIf="filtersForm">
      <div class="grid grid-cols-12 gap-5 items-start">
        <div class="col-span-2">
          <mat-form-field>
            <mat-label> شماره سند</mat-label>
            <input formControlName="voucherNo" type="text" matInput>
          </mat-form-field>
        </div>
        <div class="col-span-2">
          <mat-form-field>
            <mat-label> نوع سند</mat-label>
            <input tabindex="11"
                   formControlName="codeVoucherGroupId"
                   type="text" matInput autocomplete="codeVoucherGroupId" [matAutocomplete]="groupAuto">
            <mat-autocomplete autoActiveFirstOption #groupAuto="matAutocomplete"
                              [displayWith]="codeVoucherGroupDisplayFn.bind(this)">
              <mat-option
                *ngFor="let group of codeVoucherGroups | arrayFilter : filtersForm.controls['codeVoucherGroupId'].value : ['code','title']"
                [value]="group.id">
                {{group.code + " " + group.title}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-span-2">
          <mat-form-field>
            <mat-label> وضعیت سند</mat-label>
            <mat-select formControlName="voucherStateId">
              <mat-option *ngFor="let voucherState of voucherStates" [value]="voucherState.id">
                {{voucherState.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-span-2">
          <div class="grid grid-cols-12">
            <div class="col-span-12">
              <mat-form-field>
                <mat-label>از تاریخ</mat-label>
                <input matInput [matDatepicker]="pickerFrom" formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                  <mat-icon matDatepickerToggleIcon>
                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-span-12">
              <mat-form-field>
                <mat-label>تا تاریخ</mat-label>
                <input matInput [matDatepicker]="pickerTo" formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="pickerTo">
                  <mat-icon matDatepickerToggleIcon>
                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <div class="grid grid-cols-12">
            <div class="col-span-12">
              <mat-form-field>
                <mat-label>از شماره سند</mat-label>
                <input formControlName="fromVoucherNo" type="text" matInput>
              </mat-form-field>
            </div>
            <div class="col-span-12">
              <mat-form-field>
                <mat-label>تا شماره سند</mat-label>
                <input formControlName="toVoucherNo" type="text" matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-12">
        <div class="col-span-2 mt-2" >
          <button mat-raised-button color="primary" (click)="get()">اعمال فیلتر ها</button>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="h-full flex flex-col overflow-hidden !p-0">


    <app-action-bar class="p-3" (onCustomClick)="handleCustomClick($event.uniqueName)"
                    (onRefresh)="get()"></app-action-bar>
    <div class="h-full overflow-auto">
      <app-table [tableConfigurations]="tableConfigurations"
                 [tableRows]="voucherHeads"
                 (rowDoubleClicked)="navigateToVoucherHead($event)"
                 (filtersChanged)="get()"
                 (sortChanged)="get()"
                 (paginationChanged)="get()"
      ></app-table>
    </div>
  </mat-card>


</div>
