// ---------------- Navbar (Top Navigation Bar) ----------------

.custom-icon-btn {
  padding: 15px 2px;
  height: 40px;
  margin: 0;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #9999;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.custom-icon-btn:hover {
  background-color: #dddddd;
}


nav.navbar {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;

  .item-icon {
    cursor: pointer;
    color: #1f2937; // رنگ تیره‌تر برای آیکون‌ها
    font-size: 28px;
    transition: color 0.2s;

    &:hover {
      color: #0d6efd;
    }
  }

}

// ---------------- Dropdown Menu Items (Mat Menu) ----------------

img.button-menu-img {
  width: 27px;
  height: 27px;
  margin-left: 9px;
}

button.button-menu {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  gap: 10px;
  width: 100%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  span {
    font-size: 14px;
    color: #212529;
    white-space: nowrap;
  }

  img {
    flex-shrink: 0;
  }
}

.mat-select-panel {
  z-index: 2000 !important;
  max-height: 300px !important; // یا هر مقداری که لازم داری
}
