<div class="flex flex-col h-full gap-3">
  <mat-card>
    <h1 class="mat-subheading-1">محدوده اسناد</h1>
    <div class="grid grid-cols-12 gap-3" [formGroup]="form">
      <div class="col-span-3">

        <mat-form-field>
          <mat-label>از شماره سند</mat-label>
          <input (change)="get()" formControlName="fromNo" type="text" matInput>
        </mat-form-field>

      </div>
      <div class="col-span-3">
        <mat-form-field>
          <mat-label>تا شماره سند</mat-label>
          <input (change)="get()" formControlName="toNo" type="text" matInput>
        </mat-form-field>
      </div>
      <div class="col-span-2 m-auto">
        <button mat-raised-button color="primary" type="button" (click)="submit()"> درج میان اسناد</button>
      </div>
    </div>

  </mat-card>


  <mat-card class="h-full !p-0" >
    <mat-tab-group class="h-full">
      <mat-tab label="انتخاب شده">
        <app-table
          (rowDoubleClicked)="navigateToVoucherHead($event)"
          [tableConfigurations]="selectedVouchersTableConfiguration"
          [tableRows]="selectedVouchers"
          (paginationChanged)="get()"
          (sortChanged)="get()"
        ></app-table>
      </mat-tab>
    </mat-tab-group>

  </mat-card>

</div>
