
<div class="h-full flex flex-col overflow-auto gap-3" style="max-height: inherit; padding: 0!important;">
   <mat-card>
    <form [formGroup]="SearchForm">
        <div class="row">
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>از تاریخ سند</mat-label>
                    <input tabindex="0" matInput [matDatepicker]="pickerFrom" formControlName="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                        <mat-icon matDatepickerToggleIcon>
                            <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>تا تاریخ سند</mat-label>
                    <input tabindex="1" matInput [matDatepicker]="picker" formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>
                            <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <app-combo-warhouse-tree [DefaultId]="SearchForm.controls.warehouseId.value"
                                         (SelectId)="WarehouseIdSelect($event)"
                                         [lablelTitleCombo]="'انبار'"
                                         [isLastLevel]="true" [tabindex]="2">
                </app-combo-warhouse-tree>
            </div>
            <div class="col-md-2">
                <app-combo-commodity [DefaultId]="SearchForm.controls.commodityId.value"
                                     (SelectId)="getCommodityById($event)"
                                     [lablelTitleCombo]="'کالا'"
                                     [warehouseId]="SearchForm.controls.warehouseId.value"
                                     [isOnlyFilterByWarehouse]="true"
                                     [isRequired]="false" [tabindex]="3">
                </app-combo-commodity>
            </div>
            <div class="col-md-2">
                <mat-form-field [tabindex]="4">
                    <mat-label>شماره سند</mat-label>
                    <input formControlName="documentNo" matInput type="text">
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <button mat-raised-button color="primary" matTooltip="جستجو" (click)="get()" [disabled]="_notificationService.isLoader" [tabindex]="5" id="Search">
                    <mat-icon>search</mat-icon>
                    جستجو
                </button>
            </div>

        </div>
    </form>
  </mat-card>

  <div class="h-full overflow-auto p-0">
    <app-warehouse-layouts-commodity-history [SearchForm]="SearchForm"></app-warehouse-layouts-commodity-history>
  </div>

  </div>

