


<mat-card class="h-full flex flex-column overflow-hidden gap-3">
  <mat-card class="h-50 overflow-auto">
    <app-tree
      height="100%"
      [useNew]="true"
      [editable]="true"
      [canAdd]="true"
      (onAdd)="add($event)"
      (onEdit)="update($event)"
      [rawNodes]="commodityCategories"
      (onClick)="handleCommodityCategory($event)"
    >
    </app-tree>
  </mat-card>

  <mat-card class="h-50  overflow-hidden p-0 w-full">
    <div class="flex h-10  py-1" *ngIf="hasCommodityChildren">

      <app-action-bar  (onAdd)="navigateToCommodity()" ></app-action-bar>
    </div>
    <div [class]="hasCommodityChildren? 'h-90': 'h-full'">
      <app-commodity-table   [commodityCategoryId]="commodityCategoryId"></app-commodity-table>
    </div>
  </mat-card>
</mat-card>
