<mat-card class="h-full !flex flex-col !p-0">


  <app-action-bar class="p-3" (onDelete)="delete()" (onAdd)="add()" (onEdit)="update()"
                  (onRefresh)="get()"></app-action-bar>

  <div class="h-full rounded-b-lg overflow-auto">
    <app-table
      class="h-full"
      [tableConfigurations]="tableConfigurations"
      [tableRows]="entities"
      (rowDoubleClicked)="update($event)"
      (filtersChanged)="get()"
      (sortChanged)="get()"
      (paginationChanged)="get()"
    ></app-table>
  </div>


</mat-card>
