<div class="h-full flex flex-col gap-3">
  <mat-card class="max-h-[50%] overflow-auto">
    <app-tree
      [useNew]="true"
      [editable]="identityService.doesHavePermission('AccessToEditAccountRefrencGroups')"
      [canAdd]="identityService.doesHavePermission('AccessToEditAccountRefrencGroups')"
      (onAdd)="add($event)"
      (onEdit)="update($event)"
      height="100%"
      (onClick)="selectedGroupId = $event.id"
      [searchableProperties]="['title','code']"
      [rawNodes]="entities">
    </app-tree>
  </mat-card>
  <app-account-references-list class="h-[50%]" [groupId]="selectedGroupId"></app-account-references-list>
</div>
