// container component
$header-height: 80px;
$sidebar-width: 300px;
$sidebar-width-minimized: 60px;
$tabs-height: 35px;

// tables component
$table-header-font-size: calc(0.3vw + 25px);
$table-headers-font-size: calc(0.3vw + 14px);
$table-data-font-size: calc(0.3vw + 11px);

// inputs component
$input-font-size: calc(0.3vw + 14px);
$label-font-size: calc(0.3vw + 16px);




