<mat-card class="h-full flex flex-column overflow-hidden" style="max-height: inherit; padding: 0!important;">


  <app-action-bar class="p-3" (onDelete)="delete()" (onRefresh)="get()" (onAdd)="add()"
                  (onEdit)="update()"></app-action-bar>
  <div class="h-full overflow-auto">
    <app-table
      [tableRows]="entities"
      [tableConfigurations]="tableConfigurations"
      (paginationChanged)="get()"
      (filtersChanged)="get()"
      (sortChanged)="get()"
      (rowDoubleClicked)="navigateToCustomer($event)"

    >
    </app-table>
  </div>
</mat-card>


