<mat-dialog (onSubmit)="submit()" [showDeleteBtn]="false">
    <div dialog-header="">ارجاع تیکت</div>
    <div dialog-content="">


        <div class="row p-3" [formGroup]="form" style="width: 40vw;" *ngIf="checkForwardAccess()">
            <!-- <div class="col-md-12">
                <mat-form-field>
                    <mat-label> عنوان</mat-label>
                    <input formControlName="title" type="text" matInput>
                </mat-form-field>
            </div> -->
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>بخش</mat-label>
                    <mat-select formControlName="secondaryRoleId">
                        <mat-option *ngFor="let role of roles" [value]="role.id">
                            {{role.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field>
                    <mat-label> توضیحات</mat-label>
                    <textarea formControlName="message" rows="10" cols="100" matInput></textarea>
                </mat-form-field>
            </div>

        </div>
        <mat-card class="h-full flex flex-column overflow-hidden" style="max-height: inherit; padding: 0!important;">
            <div class="h-full overflow-auto">
                <app-table [tableConfigurations]="tableConfigurations" [tableRows]="ticketDetailHistorys"></app-table>
            </div>
        </mat-card>
    </div>
</mat-dialog>
