.alert {
    padding: 5px;
    color: #fff;
    border-radius: 10px;
}

.alert-green {
  background-color: #4CAF50;
}

.alert-warning {
  background-color: #FFA500;
}

.alert-info {
  background-color: #17A2B8;
}

.alert-error {
  background-color: #DC3545;
}

.alert-close {
  background-color: #98a4ac;
}

.alert-ongoing {
  background-color: #28A745;
}

.alert-normal {
  background-color: #7fb7ec;
}
