<div  class="fixed inset-0 z-[1200] h-screen w-full">
  <!-- Backdrop -->
  <div
    class="fixed inset-0 bg-black/50 opacity-0 transition-opacity duration-300 ease-in"
    [ngClass]="{
    'animate-fadeBackdrop': isSettingToggled && !isClosing,
    'animate-fadeBackdropReverse': isClosing
  }"
    (click)="closeHandler()"
  ></div>

  <!-- Setting Menu -->
  <div
    class="fixed top-0 left-0 h-full w-64 bg-[#0F172A] !text-white/70 transform -translate-x-full transition-transform duration-300 ease-in-out "
    [ngClass]="{
    'animate-slideMenu': isSettingToggled && !isClosing,
    'animate-slideMenuReverse': isClosing
  }"
  >
<div class="flex justify-between items-center text-lg font-semibold mb-4 py-7 px-2 bg-blue-500">
  <div class="flex items-center gap-1">
    <mat-icon class="text-[32px]">settings</mat-icon>
    <h2>تنظیمات</h2>
  </div>
  <button (click)="closeHandler()">
    <mat-icon  class="text-[32px]">close</mat-icon>
  </button>


</div>


    <div class="p-5 flex flex-col gap-10">
      <!-- THEME Section -->
      <div>
        <h3 class="font-medium mb-2">تم:</h3>
        <div class="space-y-1">
          <button
            (click)="setLocalStorage('theme', 'default-brand')"
            class="flex items-center w-full text-left p-2 gap-1.5 hover:bg-gray-700 rounded-lg">
            <span class="w-3 h-3 rounded-full bg-blue-500 mr-2"></span> برند
          </button>
          <button
            (click)="setLocalStorage('theme', 'default-teal')"
            class="flex items-center w-full text-left p-2 gap-1.5 hover:bg-gray-700 rounded-lg">
            <span class="w-3 h-3 rounded-full bg-teal-500 mr-2"></span> فیروزه‌ای
          </button>
          <button
            (click)="setLocalStorage('theme', 'rose')"
            class="flex items-center w-full text-left p-2 gap-1.5 hover:bg-gray-700 rounded-lg">
            <span class="w-3 h-3 rounded-full bg-rose-500 mr-2"></span> رز
          </button>
        </div>
      </div>

      <mat-divider class="!border-white/40"></mat-divider>

      <!-- SCHEME Section -->
      <div>
        <h3 class="font-medium mb-2">طرح رنگ:</h3>
        <div class="space-y-1">
          <button
            (click)="setLocalStorage('scheme', 'auto')"
            class="flex items-center w-full text-left p-2 hover:bg-gray-700 rounded-lg">
            <i class="fas fa-adjust mr-2"></i> خودکار
          </button>
          <button
            (click)="setLocalStorage('scheme', 'dark')"
            class="flex items-center w-full text-left p-2 hover:bg-gray-700 rounded-lg">
            <i class="fas fa-moon mr-2"></i> تیره
          </button>
          <button
            (click)="setLocalStorage('scheme', 'light')"
            class="flex items-center w-full text-left p-2 hover:bg-gray-700 rounded-lg">
            <i class="fas fa-sun mr-2"></i> روشن
          </button>
        </div>
      </div>

      <mat-divider class="!border-white/40"></mat-divider>


      <!-- LAYOUT Section -->
      <div>
        <h3 class="font-medium mb-2">چیدمان:</h3>
        <div class="space-y-1">
          <button
            (click)="setLocalStorage('layout', 'empty')"
            class="flex items-center w-full text-left p-2 hover:bg-gray-700 rounded-lg">
            <i class="fas fa-border-none mr-2"></i> خالی
          </button>
          <button
            (click)="setLocalStorage('layout', 'classic')"
            class="flex items-center w-full text-left p-2 hover:bg-gray-700 rounded-lg">
            <i class="fas fa-grip-lines mr-2"></i> کلاسیک
          </button>
          <button
            (click)="setLocalStorage('layout', 'compact')"
            class="flex items-center w-full text-left p-2 hover:bg-gray-700 rounded-lg">
            <i class="fas fa-compress-alt mr-2"></i> فشرده
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
