.ExpandRowWithTemplate {
  height: 40px;
  background-color: #e8c1b4  !important;
  td {
    padding: 0 13px;
    text-align: center !important;
    vertical-align: middle;
  }

}
.detail-icon{
  color: #000000;
}
.conflict-icon{
  color: red;
}
