<div class="h-100 d-flex flex-column overflow-auto gap-3" style="max-height: inherit; padding: 0!important;">


  <app-action-bar  (onDelete)="delete()" (onAdd)="add()" (onEdit)="update()" (onRefresh)="get()"></app-action-bar>
  <mat-card class="h-100 overflow-auto p-0">
    <app-table [tableConfigurations]="tableConfigurations"
               [tableRows]="entities"
               (rowDoubleClicked)="update($event,'edit')"
               (filtersChanged)="get()"
               (sortChanged)="get()"
               (paginationChanged)="get()"></app-table>

    <ng-template #buttonCopy let-element="row">

      <button mat-icon-button matTooltip="کپی از فرمول" class="btn-color" (click)="update(element,'copy')">
        <mat-icon>content_copy</mat-icon>

      </button>
    </ng-template>
    <mat-spinner style="top:30%;right:40%;position:absolute;z-index:1000" *ngIf="_notificationService.isLoader"></mat-spinner>
  </mat-card>
</div>
