
<div [formGroup]="form" class="h-full flex flex-column overflow-auto" style="max-height: inherit; padding: 0!important;">

    <app-form-actions [actions]="formActions" (OnAdd)="reset()">
        <button mat-raised-button color="primary" matTooltip="بایگانی رسید / حواله کالا ها" (click)="archive()" [disabled]="_notificationService.isLoader">
                            <mat-icon>
                                save
                            </mat-icon>
                            بایگانی (ورودی/ خروجی) کالا ها در این تاریخ در انبار
                        </button>

    </app-form-actions>

    <div class="row m-2">


        <div class="col-md-12 mt-4">

            <mat-card class="m-2" [formGroup]="form">
                <div class="row">

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>از تاریخ </mat-label>
                            <input tabindex="0" matInput [matDatepicker]="pickerFrom" formControlName="fromDate">
                            <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                                <mat-icon matDatepickerToggleIcon>
                                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #pickerFrom></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>تا تاریخ </mat-label>
                            <input tabindex="1" matInput [matDatepicker]="picker" formControlName="toDate">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>
                                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>نوع رسید / حواله</mat-label>
                            <mat-select (selectionChange)="documentStatuesBaseValueChange($event.value)" formControlName="documentStatuesBaseValue">
                                <mat-option [value]="33">ورودی</mat-option>
                                <mat-option [value]="63">خروجی</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">


                        <app-combo-warhouse-tree [DefaultId]="form.controls.warehouseId.value"
                                                 (SelectId)="WarehouseIdSelect($event)"
                                                 [isRequired]="true"
                                                 [lablelTitleCombo]="'انبار'"
                                                 [isLastLevel]="true">
                        </app-combo-warhouse-tree>

                    </div>
                    </div>


            </mat-card>
        </div>


    </div>

    <mat-spinner style="top:30%;right:40%;position:absolute;z-index:1000" *ngIf="_notificationService.isLoader"></mat-spinner>

</div>

