<mat-dialog (onSubmit)="submit()" [showDeleteBtn]="false">

    <div dialog-header="">واگذاری کالا به فرد دیگر</div>

    <div dialog-content="">
        <mat-dialog-content class="mx-auto" [formGroup]="form">

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>عنوان کالا </mat-label>
                        <input formControlName="commodityTitle" type="text" matInput disabled>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>کد کالا </mat-label>
                        <input formControlName="commodityCode" type="text" matInput disabled>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>تحویل گیرنده فعلی </mat-label>
                        <input formControlName="debitReferenceTitle" type="text" matInput disabled>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>تاریخ</mat-label>
                        <input tabindex="0" matInput [matDatepicker]="pickerFrom" formControlName="createDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                            <mat-icon matDatepickerToggleIcon>
                                <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #pickerFrom></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">



                    <app-combo-account-refrence [DefaultId]="form.controls.debitAccountReferenceId.value"
                                                (SelectId)="debitReferenceSelect($event)"
                                                [lablelTitleCombo]="'تحویل گیرنده'"
                                                [accountReferencesGroupsId]="form.controls.debitAccountReferenceGroupId.value"
                                                [tabindex]="1">
                    </app-combo-account-refrence>

                </div>

                <app-uploader class="flex justify-center"
                              [autoUpload]="true"
                              (filesChange)="files=$event"
                              (isUploadingChange)="isUploading"
                              [attachmentsModel]="attachmentsModel"
                              [attachmentIds]="attachmentIds">
                </app-uploader>
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label>شرح </mat-label>
                        <input formControlName="description" type="text" matInput>
                    </mat-form-field>
                </div>

            </div>
        </mat-dialog-content>


    </div>


</mat-dialog>
