@import "/src/assets/scss/variables";

.btn-tree {
  background: unset;
  border: unset;
  display: inherit;
  // margin-top: 5px;
}

.btn-tree-node:hover {
  background-color: color(primary,50);
  cursor: pointer;
}

.btn-tree-node {
  padding-top: 7px;
  padding-bottom: 5px;
  width: 100%;
}

::ng-deep {
  .mat-drawer-inner-container {
    min-width: unset !important;
    max-width: unset !important;
    height: 100% !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }

  .mat-menu-content {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
  }

  .mat-tree-node .mat-nested-tree-node {
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
  }

  .mat-tree-node {
    min-height: 25px;
    border-bottom: solid 1px color(primary,50) !important;
  }

  .mat-menu-panel {
    min-width: 350px !important;
    max-height: 50vh;
    max-width: 100%;
  }
}

.mat-menu-trigger {
  height: 66px !important;
}

.mat-input-element {
  padding-right: 20px;
  width: 100%;
  max-width: 100%;
}

.search-input {
  margin-right: 10px;
  margin-left: 10px;
  background-image: url('/assets/icons/search.svg');
  background-position: right;
  background-repeat: no-repeat;
  width: 95%;
  border: solid 1px color(primary,50);
  border-radius: 3px;
  padding: 8px;
  padding-right: 25px;
  font-size: 12px;
}

.search-input:focus {
  outline: none;
  border: solid 1px color(primary,500);
}

.mat-icon {
  color: color(primary,500) !important;
}

.mat-input-element {
  padding-right: 20px;
  width: 100%;
  max-width: 100%;
}

.remove-select {
  position: relative;
  left: -3px;
  top: -40px;
  font-size: 20px;
  cursor: pointer;
}

.spinner-10 {
  position: relative;
  right: -3px;
  top: -45px;
  font-size: 20px;
}

.expand {
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-option {
  font-size: 15px;
}

.disabled {
  pointer-events: none;
  opacity: .8;
}

.form-control {
  font-size: 13px;
  padding: 5px;
  margin-top: 5px;
  height: 35px;
  padding-right: 20px;
}

.remove-select-40 {
  position: relative;
  left: -3px;
  top: -28px;
  font-size: 20px;
  cursor: pointer;
}

.height-40 {
  height: 40px !important;
}

input:read-only {
  background-color: #fff;
  width: 95%;
}
