@import "/src/assets/scss/variables";
.mat-card {
  padding: 15px !important;
}

.mat-input-element {
  padding-right: 0px !important;
  font-size: 12px !important;
}



.btn-color {
  color: color(md-grey,500) !important;
}
.btn-ok {
  color: color(success,500) !important;
}
.btn-primary {
  color: color(primary,500) !important;
}
.mat-elevation-z8 {
  box-shadow: unset !important;
}
.mat-radio-button {
    display:unset !important;
}
.lable {
  font-size: 14px;
  color: color(md-grey,500) !important;
}
input {
  font-size: 12px;
  height: 42px;
}
