:host {
    height: 100%;
  }
  .margin-left{
    margin-right: 1rem;
  }
  .filter{
    color: #777474;
    font-size: 12px;
  }
.filterCount{
  cursor: pointer;
  color: #d51e1e;
  font-size: 13px;
}