.example-container {
  width: 100%;
  height: 100%;
}

.side-bar {
   width: 320px;
}

mat-button-toggle-group {
  margin-left: 12px;
}


.cheque-item{
  background: rgb(251, 250, 255);
}

.search-cheque-item{
  background: #fff !important
}


.nav-title{
  text-align: right !important;
    padding: 0 24px !important;
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    align-items: center !important;
    font: 500 18px / 32px Material Icon, Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

.chips-number {

    margin-right: 16px;
    background: green;
    padding: 4px;
    border-radius: 6px;
    color: white;
}

.corner {

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 16px;
    z-index: 10;

}
.page-center{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

