<div class="flex flex-col p-2">
    <mat-label *ngIf="label && labelType=='outside'">
        {{label}}
        <label *ngIf="mandatory" style="color: red;">*</label>
    </mat-label>
    <mat-form-field appearance="outline">
        <mat-label *ngIf="label && labelType=='inside'">
            {{label}}
            <label *ngIf="mandatory" style="color: red;">*</label>
        </mat-label>

        <input matInput [placeholder]="placeholder" [disabled]="!enabled" [type]="showPassword? 'text': 'password'" [formControl]="control" [autocomplete]="autocomplete">

        @if(visibilityPasswordEnabled){
            <mat-icon matSuffix (click)="showPassword = !showPassword" class="cursor-pointer">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>            
        }        
        
        <mat-error ngx-mat-errors></mat-error>
        <mat-hint *ngIf="description">{{description}}</mat-hint>
    </mat-form-field>
    <span *ngIf="error" style="color: red;">{{error}}</span>
    
    @if(generatePasswordButtonEnabled){
        <button mat-raised-button type="button" class="mt-1" (click)="generatePassword()">GENERATE A PASSWORD</button>
    }
</div>