<div #card_iframe class="h-100 overflow-auto card-iframe">
    <iframe [src]="safeUrl"    [class]="largeSize ? 'iframe_largeSize' : 'iframe_normalSize'" ></iframe>
    <div>
        <button class="btn btn-outline-secondary btn-zoom" (click)="onIsLargeSize()"  [matTooltip]="largeSize ? 'کوچک کردن' : 'تمام صفحه'">
            <mat-icon *ngIf="!largeSize" class="font-30" >
                zoom_in

            </mat-icon>
            <mat-icon *ngIf="largeSize" class="font-30" >
                zoom_out
            </mat-icon>
        </button>
    </div>

</div>
