<mat-card class="h-full flex flex-column overflow-hidden" style="max-height: inherit; padding: 0!important;">
  <div *ngIf="isLoading"
    style="z-index:9999;position: absolute;left:0;top:0;bottom: 0; right: 0;background: rgba(0,0,0,0.3);"
    class="flex items-center justify-center">
    <mat-spinner></mat-spinner>
  </div>

  <mat-tab-group [(selectedIndex)]="selectedTabIndex" class="h-full flex flex-column">
    <mat-tab class="h-full flex flex-column" tabindex="0" label="گزارش" [formGroup]="form">
      <div class="w-full p-3">
        <div class="row w-full p-0 m-0 ">
          <div class="card col-12 p-0">
            <div class="card-header flex flex-row gap-3">
              <div>فیلتر</div>

              <div class="flex flex-row gap-4">
                <span *ngIf="form.controls['accountHeadIds'].value.length>0" class="witch-filter">در حساب ها:
                  <span *ngFor="let accountHeadId of form.controls['accountHeadIds'].value | slice:0:4; let i = index"
                    class="filter">
                    <span *ngIf="i>2">
                      و {{form.controls['accountHeadIds'].value.length-3}} فیلتر دیگر
                    </span>
                    <span *ngIf="3>i">
                      {{accountHeadDisplayFn(accountHeadId)}}،
                    </span>
                  </span>



                </span>
                <span *ngIf="form.controls['referenceGroupIds'].value.length>0" class="witch-filter">در گروه تفصیل ها:
                  <span
                    *ngFor="let accountReferencesGroupId of form.controls['referenceGroupIds'].value | slice:0:4; let i = index"
                    class="filter">
                    <span *ngIf="i>2">
                      و {{form.controls['referenceGroupIds'].value.length-3}} فیلتر دیگر
                    </span>
                    <span *ngIf="3>i">
                      {{accountReferencesGroupDisplayFn(accountReferencesGroupId)}}،
                    </span>
                  </span>
                </span>
                <span *ngIf="selectedAccountReferences.length>0" class="witch-filter">در تفصیل ها:
                  <span
                    *ngFor="let accountReferenceId of form.controls['referenceIds'].value | slice:0:4; let i = index"
                    class="filter">
                    <span *ngIf="i>2">
                      و {{form.controls['referenceIds'].value.length-3}} فیلتر دیگر
                    </span>
                    <span *ngIf="3>i">
                      {{accountReferenceDisplayFn(accountReferenceId)}}،
                    </span>
                  </span>
                </span>
                <span *ngIf="selectedCodeVoucherGroups.length>0" class="witch-filter">در نوع سندها:
                  <span
                    *ngFor="let codeVoucherGroupId of form.controls['codeVoucherGroupIds'].value | slice:0:4; let i = index"
                    class="filter">
                    <span *ngIf="i>2">
                      و {{form.controls['codeVoucherGroupIds'].value.length-3}} فیلتر دیگر
                    </span>
                    <span *ngIf="3>i">
                      {{codeVoucherGroupDisplayFn(codeVoucherGroupId)}}،
                    </span>
                  </span>
                </span>

              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-1">
                  <mat-form-field>
                    <mat-label>در سطح</mat-label>
                    <mat-select (selectionChange)="resetAccountHeadIdsFilter()" formControlName="level">
                      <mat-option *ngFor="let level of accountLevels" [value]="level.id">
                        {{level.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div style="flex: 0 0 auto;width: 9.666667%;">
                  <mat-form-field>
                    <mat-label>از تاریخ</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="voucherDateFrom">
                    <mat-datepicker-toggle matSuffix [for]="picker1">
                      <mat-icon matDatepickerToggleIcon>
                        <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div style="flex: 0 0 auto;width: 9.666667%;">
                  <mat-form-field>
                    <mat-label>تا تاریخ</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="voucherDateTo">
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                      <mat-icon matDatepickerToggleIcon>
                        <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-1">
                  <mat-form-field>
                    <mat-label>نوع ارز</mat-label>
                    <mat-select (selectionChange)="showCurrencyRelatedFields()" formControlName="currencyTypeBaseId">
                      <mat-option *ngFor="let currency of currencyTypes" [value]="currency.id">
                        {{currency.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-2">
                  <div class="row flex-column">
                    <div>
                      <mat-form-field>
                        <mat-label>حساب</mat-label>
                        <input matInput type="text" [formControl]="accountHeadControl"
                          [matAutocomplete]="accountHeadAuto">

                        <mat-autocomplete autoActiveFirstOption #accountHeadAuto="matAutocomplete"
                          (optionSelected)="handleAccountHeadSelection($event.option.value)"
                          [displayWith]="accountHeadDisplayFn.bind(this)">
                          <mat-option *ngFor="let accountHead of accountHeads;let i=index" [value]="accountHead.id">
                            {{accountHead.fullCode + ' ' + accountHead.title}}

                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-chip-list>
                        <span *ngIf="form.controls['accountHeadIds'].value.length>0"
                          style="color: #d51e1e;font-size: 13px;">تعداد فیلترها:
                          {{form.controls['accountHeadIds'].value.length}}
                        </span>
                      </mat-chip-list>

                    </div>
                  </div>
                </div>

                <div class="col-2">
                  <div class="row flex-column">
                    <div>
                      <mat-form-field>
                        <mat-label>گروه تفصیل</mat-label>
                        <input matInput type="text" [formControl]="accountReferencesGroupControl"
                          [matAutocomplete]="accountReferencesGroupAuto">

                        <mat-autocomplete autoActiveFirstOption #accountReferencesGroupAuto="matAutocomplete"
                          (optionSelected)="handleAccountReferencesGroupSelection($event.option.value)"
                          [displayWith]="accountReferencesGroupDisplayFn.bind(this)">
                          <mat-option *ngFor="let accountReferencesGroup of accountReferencesGroups"
                            [value]="accountReferencesGroup.id">
                            {{accountReferencesGroup.code + ' ' + accountReferencesGroup.title}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-chip-list>
                        <span *ngIf="form.controls['referenceGroupIds'].value.length>0"
                          style="color: #d51e1e;font-size: 13px;">تعداد فیلترها:
                          {{form.controls['referenceGroupIds'].value.length}}
                        </span>
                      </mat-chip-list>
                    </div>
                  </div>
                </div>

                <div class="col-2">
                  <div class="row">
                    <div>
                      <mat-form-field>
                        <mat-label>تفصیل</mat-label>
                        <input matInput type="text" [formControl]="accountReferenceControl"
                          [matAutocomplete]="accountReferenceAuto">

                        <mat-autocomplete autoActiveFirstOption #accountReferenceAuto="matAutocomplete"
                          (optionSelected)="handleAccountReferenceSelection($event.option.value)"
                          [displayWith]="accountReferenceDisplayFn.bind(this)">
                          <mat-option *ngFor="let accountReference of accountReferences" [value]="accountReference.id">
                            {{accountReference.code + ' ' + accountReference.title}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-chip-list>
                        <span *ngIf="form.controls['referenceIds'].value.length>0"
                          style="color: #d51e1e;font-size: 13px;">تعداد فیلترها:
                          {{form.controls['referenceIds'].value.length}}
                        </span>
                      </mat-chip-list>
                    </div>
                  </div>
                </div>

                <div class="col-1">
                  <div class="row">
                    <button (click)="get()" class="col-12 me-1" color="primary" mat-raised-button>دریافت گزارش</button>
                    <button (click)="removeAllFilters()" class="col-12 me-1 mt-1" color="primary" mat-raised-button>حذف فیلترها</button>

                  </div>
                </div>


              </div>

              <div class="row">


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-full overflow-auto">
        <app-table (rowSelected)="updateTotalCreditAndTotalDebit()" (allRowsSelected)="updateTotalCreditAndTotalDebit()"
          (rowDoubleClicked)="onRowDoubleClicked($event)" [tableConfigurations]="tableConfigurations"
          (exportData)="exportFile($event)" [tableRows]="reportResult" (filtersChanged)="''" (sortChanged)="''"
          (paginationChanged)=" ''">

          <div footerContent>
            <div class="me-auto flex flex-row gap-1">
              <button color="primary" mat-raised-button (click)="printRial()">
                <mat-icon>print</mat-icon>
                <mat-label> چاپ</mat-label>
              </button>


              <!-- <button mat-raised-button color="primary" [matMenuTriggerFor]="rialExportActions">
                <mat-label> چاپ</mat-label>
                <mat-icon>print</mat-icon>
              </button>
              <mat-menu #rialExportActions="matMenu">
                <button mat-menu-item (click)="printRial()">چاپ </button>
                <button mat-menu-item (click)="downloadRialExcel()">دانلود Excel</button>
              </mat-menu> -->


            </div>
          </div>
        </app-table>
      </div>
    </mat-tab>
    <mat-tab class="h-full" tabindex="1" label="فیلتر پیشرفته" [formGroup]="form">
      <div class="w-full p-3">
        <div class="row w-full p-0 m-0 gap-3">
          <div class="card col-12 p-0">
            <div class="card-header">فیلتر</div>
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <mat-form-field>
                    <mat-label>در سطح</mat-label>
                    <mat-select formControlName="level">
                      <mat-option *ngFor="let level of accountLevels" [value]="level.id">
                        {{level.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <mat-label>از تاریخ</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="voucherDateFrom">
                    <mat-datepicker-toggle matSuffix [for]="picker3">
                      <mat-icon matDatepickerToggleIcon>
                        <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <mat-label>تا تاریخ</mat-label>
                    <input matInput [matDatepicker]="picker4" formControlName="voucherDateTo">
                    <mat-datepicker-toggle matSuffix [for]="picker4">
                      <mat-icon matDatepickerToggleIcon>
                        <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>
                <button (click)="get()" class="col-1 me-auto" color="primary" mat-raised-button>دریافت گزارش</button>
                <button (click)="removeAllFilters()" class="col-1 margin-left" color="primary" mat-raised-button>حذف
                  فیلتر
                  ها</button>
              </div>
            </div>
          </div>

          <div class="card col-12 p-0">
            <div class="card-header">حساب ها</div>
            <div class="card-body">
              <div class="flex-column gap-5">
                <div class="row">

                  <div class="col-5">
                    <div class="row flex-column">
                      <div>
                        <mat-form-field>
                          <mat-label>حساب</mat-label>
                          <input matInput type="text" [formControl]="accountHeadControl"
                            [matAutocomplete]="accountHeadAuto">

                          <mat-autocomplete autoActiveFirstOption #accountHeadAuto="matAutocomplete"
                            (optionSelected)="handleAccountHeadSelection($event.option.value)"
                            [displayWith]="accountHeadDisplayFn.bind(this)">
                            <mat-option *ngFor="let accountHead of accountHeads" [value]="accountHead.id">
                              {{accountHead.fullCode + ' ' + accountHead.title}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-chip-list>
                          <mat-chip *ngFor="let accountHeadId of form.controls['accountHeadIds'].value; let i = index">
                            {{accountHeadDisplayFn(accountHeadId)}}
                            <mat-icon style="cursor: pointer;" (click)="removeAccountHead(accountHeadId)">close
                            </mat-icon>
                          </mat-chip>
                        </mat-chip-list>

                      </div>
                    </div>
                  </div>

                  <div class="col-3">
                    <div class="row flex-column">
                      <div>
                        <mat-form-field>
                          <mat-label>گروه تفصیل</mat-label>
                          <input matInput type="text" [formControl]="accountReferencesGroupControl"
                            [matAutocomplete]="accountReferencesGroupAuto">

                          <mat-autocomplete autoActiveFirstOption #accountReferencesGroupAuto="matAutocomplete"
                            (optionSelected)="handleAccountReferencesGroupSelection($event.option.value)"
                            [displayWith]="accountReferencesGroupDisplayFn.bind(this)">
                            <mat-option *ngFor="let accountReferencesGroup of accountReferencesGroups"
                              [value]="accountReferencesGroup.id">
                              {{accountReferencesGroup.code + ' ' + accountReferencesGroup.title}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-chip-list>
                          <mat-chip
                            *ngFor="let accountReferencesGroupId of form.controls['referenceGroupIds'].value; let i = index">
                            {{accountReferencesGroupDisplayFn(accountReferencesGroupId)}}
                            <mat-icon style="cursor: pointer;"
                              (click)="removeAccountReferencesGroup(accountReferencesGroupId)">close
                            </mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </div>
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="row">
                      <div>
                        <mat-form-field>
                          <mat-label>تفصیل</mat-label>
                          <input matInput type="text" [formControl]="accountReferenceControl"
                            [matAutocomplete]="accountReferenceAuto">

                          <mat-autocomplete autoActiveFirstOption #accountReferenceAuto="matAutocomplete"
                            (optionSelected)="handleAccountReferenceSelection($event.option.value)"
                            [displayWith]="accountReferenceDisplayFn.bind(this)">
                            <mat-option *ngFor="let accountReference of accountReferences"
                              [value]="accountReference.id">
                              {{accountReference.code + ' ' + accountReference.title}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-chip-list>
                          <mat-chip
                            *ngFor="let accountReferenceId of form.controls['referenceIds'].value; let i = index">
                            {{accountReferenceDisplayFn(accountReferenceId)}}
                            <mat-icon style="cursor: pointer;" (click)="removeAccountReference(accountReferenceId)">
                              close
                            </mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">

                  <div class="col-5">
                    <div class="row">
                      <div>
                        <mat-form-field>
                          <mat-label>نوع سند</mat-label>
                          <input matInput type="text" [formControl]="codeVoucherGroupControl"
                            [matAutocomplete]="codeVoucherGroupAuto">

                          <mat-autocomplete autoActiveFirstOption #codeVoucherGroupAuto="matAutocomplete"
                            [displayWith]="codeVoucherGroupDisplayFn.bind(this)"
                            (optionSelected)="handleCodeVoucherGroupSelection($event.option.value)">
                            <mat-option *ngFor="let codeVoucherGroup of codeVoucherGroups"
                              [value]="codeVoucherGroup.id">
                              {{codeVoucherGroup.code + ' ' + codeVoucherGroup.title}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-chip-list>
                          <mat-chip
                            *ngFor="let codeVoucherGroupId of form.controls['codeVoucherGroupIds'].value; let i = index">
                            {{codeVoucherGroupDisplayFn(codeVoucherGroupId)}}
                            <mat-icon style="cursor: pointer;" (click)="removeCodeVoucherGroup(codeVoucherGroupId)">
                              close
                            </mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </div>
                    </div>
                  </div>

                  <div class="col-3">
                    <mat-form-field>
                      <mat-label>نوع حساب</mat-label>
                      <mat-select formControlName="transferId">
                        <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.id">
                          {{accountType.title}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-12 p-0">
            <div class="card-header">آرتیکل سند</div>
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <mat-form-field>
                    <mat-label>مبلغ بستانکار از</mat-label>
                    <input formControlName="creditFrom" type="text" matInput>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <mat-label> مبلغ بستانکار تا</mat-label>
                    <input formControlName="creditTo" type="text" matInput>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <mat-label>مبلغ بدهکار از</mat-label>
                    <input formControlName="debitFrom" type="text" matInput>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <mat-label> مبلغ بدهکار تا</mat-label>
                    <input formControlName="debitTo" type="text" matInput>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field>
                    <mat-label> شرح آرتیکل</mat-label>
                    <input formControlName="voucherRowDescription" type="text" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
