
<div [formGroup]="form" class="h-100 d-flex flex-column overflow-auto" style="max-height: inherit; padding: 0!important;">

    <app-form-actions [actions]="formActions" (OnShowList)="navigateToReceiptList()" (OnAdd)="reset()">
        <button mat-raised-button color="primary" matTooltip="ذخیره کامل اطلاعات" (click)="add()" [disabled]="_notificationService.isLoader" id="Save">
            <mat-icon>
                save
            </mat-icon>
            تایید و ذخیره سازی
        </button>
        <button mat-raised-button color="primary" matTooltip="افزودن کالا جدید" (click)="AddItems()" [disabled]="_notificationService.isLoader">
            <mat-icon>
                add
            </mat-icon>
            افزودن کالا
        </button>
    </app-form-actions>


    <div class="row ">


        <div class="col-md-12 mt-2">

            <mat-card class="p-0">
                <div class="row">

                    <div class="col-md-3">
                        <app-combo-code-voucher-groups [DefaultId]="form.controls.codeVoucherGroupId.value"
                                                       (SelectId)="codeVoucherGroupSelect($event)"
                                                       [isRequired]="true"
                                                       [lablelTitleCombo]="'نوع رسید'"
                                                       [viewId]="ViewId" [tabindex]="0">
                        </app-combo-code-voucher-groups>

                    </div>
                    <div class="col-md-3">
                        <app-combo-warhouse-tree [DefaultId]="form.controls.warehouseId.value"
                                                 (SelectId)="WarehouseIdSelect($event)"
                                                 [isRequired]="true"
                                                 [lablelTitleCombo]="'انبار تحویل گیرنده'"
                                                 [isFilterByCodeVoucher]="true"
                                                 [isDisable]="!form.controls.codeVoucherGroupId.value"
                                                 [codeVoucherGroupId]="form.controls.codeVoucherGroupId.value" [tabindex]="1">
                        </app-combo-warhouse-tree>
                    </div>


                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>تاریخ رسید</mat-label>
                            <input tabindex="2" matInput [matDatepicker]="picker" formControlName="documentDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>
                                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">

                        <app-combo-account-refrence [DefaultId]="form.controls.creditAccountReferenceId.value"
                                                    (SelectId)="ReferenceSelect($event)"
                                                    [lablelTitleCombo]="'تحویل دهنده (بستانکار)'"
                                                    [isRequired]="false" [tabindex]="3">
                        </app-combo-account-refrence>


                    </div>
                </div>
                <div class="row" *ngIf="codevocher!=Service.ReturnTemporaryReceipt">

                    <div class="col-md-3">

                        <app-combo-account-refrence [DefaultId]="form.controls.requesterReferenceId.value"
                                                    (SelectId)="requesterReferenceSelect($event)"
                                                    [lablelTitleCombo]="'انتخاب کارمند درخواست دهنده'"
                                                    [isRequired]="false"
                                                    [accountReferencesGroupsCode]="Service.PersonalCodeGroup" [tabindex]="4">
                        </app-combo-account-refrence>

                    </div>
                    <div class="col-md-3">

                        <app-combo-account-refrence [DefaultId]="form.controls.followUpReferenceId.value"
                                                    (SelectId)="followUpReferenceIdSelect($event)"
                                                    [lablelTitleCombo]="'انتخاب کارمند پیگیری کننده'"
                                                    [isRequired]="false"
                                                    [accountReferencesGroupsCode]="Service.PersonalCodeGroup" [tabindex]="5">
                        </app-combo-account-refrence>

                    </div>

                    <div class="col-md-3">
                        <mat-form-field tabindex="6">
                            <mat-label>شماره درخواست خرید</mat-label>
                            <input matInput type="text" formControlName="requestNumber">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field tabindex="7">
                            <mat-label>تاریخ درخواست</mat-label>
                            <input tabindex="6" matInput [matDatepicker]="picker1" formControlName="requestDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                <mat-icon matDatepickerToggleIcon>
                                    <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" tabindex="8">
                        <mat-form-field>
                            <mat-label>شماره پرونده/شماره صورتحساب </mat-label>
                            <input matInput type="number" formControlName="invoiceNo">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" tabindex="9">
                        <mat-form-field>
                            <mat-label>شماره قبض </mat-label>
                            <input matInput type="text" formControlName="scaleBill">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">

                        <app-combo-tag [documentTags]="documentTags" (SelectTags)="TagSelect($event)" tabindex="10">

                        </app-combo-tag>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field tabindex="11 ">
                            <mat-label>شرح</mat-label>
                            <input matInput type="text" formControlName="documentDescription">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field tabindex="12 ">
                            <mat-label>شماره پارت</mat-label>
                            <input matInput type="number" formControlName="partNumber">
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-3">
                        <mat-form-field tabindex="14">
                            <mat-label>شماره رسید موقت</mat-label>
                            <input matInput type="text" formControlName="documentNo" disabled>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-12 mt-2">
            <app-add-manual-items [formSetter]="form?.controls['receiptDocumentItems']"
                                  [receipt]="_Receipt"
                                  (Additems)="AddItems()"
                                  [warehouseId]="form.controls.warehouseId.value">
            </app-add-manual-items>
        </div>
    </div>
    <mat-spinner style="top:30%;right:40%;position:absolute;z-index:1000" *ngIf="_notificationService.isLoader"></mat-spinner>
</div>

