<mat-card class="h-full flex m-2 flex-column overflow-hidden" style="max-height: inherit; padding: 0!important;">

  <div class="d-inline p-3">
    <div class="flex">
  <app-form-actions [actions]="formActions" (OnRefresh)="get()" class="flex-fill" (OnDelete)="delete()">

  </app-form-actions>

</div>

</div>
<div class="h-full overflow-auto">
  <app-table
  (rowDoubleClicked)="update($event)"
  [tableRows]="voucherDetails"
   [tableConfigurations]="tableConfigurations"
   (filtersChanged)="get()"
   (paginationChanged)="get()"
   (sortChanged)="get()">
  </app-table>
</div>

</mat-card>


