<div class="h-full flex flex-col overflow-auto gap-3" style="max-height: inherit; padding: 0!important;">
    <app-form-actions [actions]="listActions" (OnRefresh)="get()" (OnAdd)="add()">
        <button mat-raised-button color="primary" (click)="print()" [disabled]="_notificationService.isLoader">
            <mat-icon>
                print
            </mat-icon>
            چاپ
        </button>
        <button mat-raised-button color="primary" type="button" (click)="onDeleteFilter(SearchForm,tableConfigurations)" [disabled]="_notificationService.isLoader">
            <mat-icon>
                delete_forever
            </mat-icon>
            حذف فیلترها
        </button>
    </app-form-actions>



  <mat-card>
    <form [formGroup]="SearchForm">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>از تاریخ سند</mat-label>
            <input tabindex="0" matInput [matDatepicker]="pickerFrom" formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom">
              <mat-icon matDatepickerToggleIcon>
                <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>تا تاریخ سند</mat-label>
            <input tabindex="1" matInput [matDatepicker]="picker" formControlName="toDate">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                <img class="mb-3" src="/assets/icons/calendar.svg" alt="">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-3">
            <app-combo-code-voucher-groups [DefaultId]="SearchForm.controls.codeVoucherGroupId.value"
                                           (SelectId)="codeVoucherGroupSelect($event)"
                                           [isRequired]="false"
                                           [lablelTitleCombo]="'نوع سند'"
                                           [viewId]="Service.CodeRequestRecive" [tabindex]="2">
            </app-combo-code-voucher-groups>

        </div>
        <div class="col-md-3">
            <app-combo-warhouse-tree [DefaultId]="SearchForm.controls.warehouseId.value"
                                     (SelectId)="WarehouseIdSelect($event)"
                                     [lablelTitleCombo]="'انبار'"
                                     [isLastLevel]="true" [tabindex]="3">
            </app-combo-warhouse-tree>
        </div>
        <div class="col-md-3">
            <app-combo-account-refrence [DefaultId]="SearchForm.controls.requesterReferenceId.value"
                                        (SelectId)="requesterReferenceSelect($event)"
                                        [lablelTitleCombo]="'انتخاب حساب درخواست دهنده'"
                                        [isRequired]="false"
                                        [accountReferencesGroupsCode]="Service.PersonalCodeGroup" [tabindex]="4">
            </app-combo-account-refrence>
        </div>

        <div class="col-md-3">
            <mat-form-field [tabindex]="5">
                <mat-label>شماره درخواست </mat-label>
                <input formControlName="documentNo" matInput type="text">
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <mat-form-field [tabindex]="6">
                <mat-label>وضعیت نمایش</mat-label>
                <mat-select formControlName="codeReques">
                    <mat-option [value]="Service.CodeRequestRecive">
                        درخواست های فعال
                    </mat-option>
                    <mat-option [value]="Service.CodeArchiveRequest">
                        درخواستهای بایگانی/ غیرفعال
                    </mat-option>
                </mat-select>
            </mat-form-field>


        </div>

        <div class="col-md-3">
            <button mat-raised-button color="primary" type="button" (click)="get()" [disabled]="_notificationService.isLoader" [tabindex]="7" id="Search">
                <mat-icon>
                    search
                </mat-icon>
                جستجو
            </button>
        </div>
      </div>
    </form>

  </mat-card>



  <mat-card class="h-full overflow-auto p-0">

      <app-table [tableConfigurations]="tableConfigurations"
                 [tableRows]="Receipts"
                 (rowDoubleClicked)="Edit($event)"
                 (filtersChanged)="get()"
                 (paginationChanged)="get()"
                 (sortChanged)="get()"></app-table>



      <ng-template #txtcommodityTitle let-element="row">

          <p class="font-12">
              {{element.commodityTitle}}
          </p>
      </ng-template>
      <ng-template #txtcommodityCode let-element="row">

          <p class="font-12">
              {{element.commodityCode}}

          </p>
      </ng-template>
      <ng-template #txtRequesterReferenceTitle let-element="row">

          <p class="font-12">
              {{element.requesterReferenceTitle}}

          </p>
      </ng-template>
      <ng-template #txtCodeVoucherGroupTitle let-element="row">

          <p class="font-12">
              {{element.codeVoucherGroupTitle}}

          </p>
      </ng-template>
      <ng-template #buttonEdit let-element="row">

      </ng-template>

      <ng-template #buttonDocumentNo let-element="row">

          <p matTooltip="ثبت خروج کالا از انبار " class="btn-link" (click)="navigateToRecive(element)">
              {{element.documentNo}}

          </p>

      </ng-template>


      <ng-template #buttonMore let-element="row" style="text-align:center">

          <button mat-icon-button [matMenuTriggerFor]="amenu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #amenu="matMenu">
            <button mat-menu-item
                    matTooltip="ویرایش اطلاعات"
                    class="btn-color"
                    (click)="Edit(element)"
                    *ngIf="element.documentStauseBaseValue==Service.CodeRequestRecive"
                    [matTooltipPosition]="'right'">

              <mat-icon>edit</mat-icon>
              ویرایش
            </button>
            <button mat-menu-item
                    matTooltip="بایگانی و حذف قرارداد"
                    class="btn-color"
                    (click)="archive(element)"
                    [matTooltipPosition]="'right'"
                    *ngIf="element.documentStauseBaseValue==Service.CodeRequestRecive">
              <mat-icon>redo</mat-icon>
              بایگانی/حذف

            </button>
            <button mat-menu-item
                    matTooltip="مشاهده جزئیات"
                    [matTooltipPosition]="'right'"
                    class="btn-color"
                    (click)="navigateToArchive(element)"
                    *ngIf="element.documentStauseBaseValue==Service.CodeArchiveRequest">
              <mat-icon>visibility</mat-icon>
              مشاهده
            </button>
            <button mat-menu-item
                    matTooltip={{element.documentStateBaseTitle}}
                    [matTooltipPosition]="'right'"
                    [ngClass]="{'btn-color': element.documentStateBaseId!=Service.ReceiptPrintStatus, 'btn-success': element.documentStateBaseId==Service.ReceiptPrintStatus}"
                    (click)="printRequest(element)">
              <mat-icon [ngClass]="{'btn-color': element.documentStateBaseId!=Service.ReceiptPrintStatus, 'btn-success': element.documentStateBaseId==Service.ReceiptPrintStatus}">print</mat-icon>
              چاپ درخواست
            </button>
            <button mat-menu-item
                    matTooltip="سند خروج کالا مواد اولیه"
                    [matTooltipPosition]="'right'"
                    class="btn-color"
                    (click)="navigateToReceipt(element,5163)">
              <mat-icon>add</mat-icon>
               خروج مواد اولیه
            </button>
            <button mat-menu-item
                    matTooltip="سند انتقال کالا در انبار مواد اولیه"
                    [matTooltipPosition]="'right'"
                    class="btn-color"
                    (click)="navigateToReceipt(element,5193)">
              <mat-icon>add</mat-icon>
               انتقال در انبار مواد اولیه
            </button>
            <button mat-menu-item
                    matTooltip="سند ورود کالا به انبار مواد اولیه"
                    [matTooltipPosition]="'right'"
                    class="btn-color"
                    (click)="navigateToReceipt(element,5334)">
              <mat-icon>add</mat-icon>
               ورود به انبار مواد اولیه
            </button>


          </mat-menu>

      </ng-template>

      <ng-template #buttonRedo let-element="row">


      </ng-template>
      <mat-spinner style="top:30%;right:40%;position:absolute;z-index:1000" *ngIf="_notificationService.isLoader"></mat-spinner>
  </mat-card>
</div>
