 .mat-card{
  padding: 15px !important;
}
.disabled {
  pointer-events: none;
  
}
::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: unset !important;
    border: 1px solid #ced4da !important;
    border-radius: 5px;
  }

  .form-action-wrapper {
    padding: unset !important
  }
}
