<div class="h-full flex flex-col gap-3">
  <app-action-bar [actions]="formActions" (onPrint)="handlePrint()"></app-action-bar>
  <div class="h-full overflow-auto flex gap-3 p-1">
    <mat-card class="w-full">
      <app-tree
        [useNew]="true"
        [editable]="identityService.doesHavePermission('AccessToEditAccountHeaders')"
        [canAdd]="identityService.doesHavePermission('AccessToEditAccountHeaders')"
        (onAdd)="add($event)"
        (onEdit)="update($event)"
        [codeKey]="'fullCode'"
        height="100%"
        (onClick)="showAccountHeadInReadMode($event)"
        [searchableProperties]="['title','code']"
        [rawNodes]="entities">
      </app-tree>

    </mat-card>
    <mat-card class="flex flex-col w-[60%] p-0 overflow-hidden"
              *ngIf="showAccountHeadModalInReadMode">
      <app-account-head-modal class="!h-full" [accountHead]="selectedAccountHead"
                              [pageMode]="PageModes.Read"></app-account-head-modal>
    </mat-card>
  </div>
</div>
